<div>
  Hi there!<br />
  The URL you followed is actually for Skate's test environment, meant for testing purposes only. Please do not use this URL; use
  <a href="https://skate.mbta.com">skate.mbta.com</a>
  instead.<br />
  If you're unsure how this happened or are confused, please reach out to the Skate team at <a href="mailto: skateteam@mbta.com">skateteam@mbta.com</a>.
</div>
