.c-layers-control {
  display: flex;
  flex-direction: row-reverse;
  border: none !important;
  gap: 5px;
  align-items: flex-start;
}

.c-layers-control__button {
  @include button-icon(20px);
  background-color: $white;
  flex: 0;
  padding: 5px;
  span svg {
    stroke: none;
  }
}

.c-layers-control__layers_list {
  .list-group {
    margin: 0rem;
    border-radius: 0px;
  }
  font-family: $font-family;

  background-color: $white;
}
