.c-layers-control {
  position: relative;
}

.c-layers-control__button {
  @include button-icon(20px);
  background-color: $white;
  flex: 0;
  padding: 5px;
  span svg {
    stroke: none;
  }

  &--selected {
    background-color: $color-gray-200;
  }
  &:focus-visible {
    outline: revert;
  }
}

.c-layers-control__pill {
  position: absolute;
  top: -6px;
  left: -6px;
  width: 22px;
  height: 13px;
  border-radius: 16px;

  background-color: $color-strawberry-500;

  text-align: center;
  color: $white;
  font-size: 11px;
  line-height: 1;
  font-weight: var(--font-weight-semi);
  user-select: none;
}

.c-layers-control__content {
  position: absolute;
  top: 0;
  right: calc(100% + 10px);
  width: max-content;
  border-radius: 8px;

  background-color: $white;

  font-family: $font-family;
  font-size: var(--font-size-m);

  .list-group {
    margin: 0;

    .list-group-item {
      padding-top: 0;
      padding-bottom: 0;

      div {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        h2 {
          margin: 0;
          font-size: var(--font-size-m);
          font-weight: var(--font-weight-bold);
        }
      }
    }
  }
}
