.c-layers-control {
  display: flex;
  border: none !important;
  gap: 5px;
}

.c-layers-control__button {
  @include button-icon(20px);
  background-color: $white;
  flex: 0;
  padding: 5px;
  span svg {
    stroke: none;
  }

  &--selected {
    background-color: $color-gray-200;
  }
  &:focus-visible {
    outline: auto -webkit-focus-ring-color;
  }
}

.c-layers-control__layers_list {
  position: fixed;
  right: 55px;
  border-radius: 8px;
  .list-group {
    margin: 0rem;
    .list-group-item {
      display: flex;
      gap: 0.5rem;
    }
  }
  font-family: $font-family;
  font-size: var(--font-size-m);

  background-color: $white;
}
