// BEM-PREFIX: LC = Leaflet Control
.lc-street-view-switch {
  position: absolute;
  // Leaflet uses px for positioning of their controls so we use px here to match
  top: 10px;
  right: 55px;

  padding: 0.5rem 0.5rem 0.5rem 1rem;

  background-color: $white;

  border: 1px solid $color-gray-400;
  border-radius: 7px;

  color: $color-eggplant-700;
  font-size: 1rem;
  line-height: 1.5rem;
  user-select: none;
  display: flex;

  label {
    span svg {
      height: 1rem;
      padding-right: 0.5rem;
      fill: currentColor;
    }

    padding-right: 0.5rem;
  }
}

@media screen and (max-width: $non-mobile-min-width) {
  .lc-street-view-switch {
    padding-block: 4px;
    padding-inline: 8px;

    &__label-text {
      @include visually-hidden;
    }

    &__input {
      // padding: 4px;
      margin: 0;
      padding-left: 0;

      // display: flex;
      align-items: center;
    }

    // &__input-box {}

    &__input .form-check-input {
      // margin: auto;
      margin-left: 0;
      // padding-inline: 0;
    }
  }
}
