<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, minimum-scale=1, initial-scale=1, viewport-fit=cover"
    />

    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <meta :if={assigns[:username]} name="username" content={@username} />

    <meta :if={assigns[:user_uuid]} name="user-uuid" content={@user_uuid} />

    <._google_tag_manager
      :if={assigns[:google_tag_manager_id]}
      google_tag_manager_id={@google_tag_manager_id}
    />

    <title>Skate</title>

    <link
      rel="apple-touch-icon"
      href={static_content_route(@conn, "/images/mbta-logo-t-180.png")}
      type="image/png"
    />
    <link
      rel="icon"
      href={static_content_route(@conn, "/images/mbta-logo-t-favicon.png")}
      sizes="32x32"
      type="image/png"
    />
    <link
      rel="icon"
      href={static_content_route(@conn, "/favicon.ico")}
      sizes="16x16"
      type="image/vnd.microsoft.icon"
    />

    <link rel="stylesheet" href={static_content_route(@conn, "/css/app.css")} />

    <._fullstory :if={record_fullstory?()} />
    <._appcues :if={record_appcues?()} />
    <._sentry :if={record_sentry?()} />
  </head>

  <body>
    <._google_tag_manager_noscript
      :if={assigns[:google_tag_manager_id]}
      google_tag_manager_id={@google_tag_manager_id}
    />
    <main role="main" class="container">
      <%= @inner_content %>
    </main>
    <script type="text/javascript" src={static_content_route(@conn, "/js/app.js")}>
    </script>
    <._drift :if={drift_enabled?()} />
  </body>
</html>
