root=true

[*]
charset=utf-8
end_of_line=lf
indent_style=space
indent_size=2
insert_final_newline=true
trim_trailing_whitespace=true

[*.{ex,exs}]
indent_size=2

[*.md]
max_line_length=off
trim_trailing_whitespace=false

[*.{diff,patch}]
end_of_line=unset
indent_size=unset
insert_final_newline=unset
trim_trailing_whitespace=unset

[*.{yml,yaml}]
indent_style=space
indent_size=2

