export API_URL=
export API_KEY=
export GTFS_URL=
export BUSLOC_URL=
export POSTGRES_USERNAME=
export POSTGRES_PASSWORD=
export POSTGRES_HOSTNAME=
export SWIFTLY_AUTHORIZATION_KEY=
export SWIFTLY_REALTIME_VEHICLES_URL=
export TRIP_UPDATES_URL=
export ERL_FLAGS="+MIscs 2048"
export SKATE_HASTUS_URL=
export TILESET_URL=
