# Load user's local settings
source_env_if_exists .envrc.private

# Load Skate secrets from 1Password
# https://github.com/tmatilai/direnv-1password/blob/14bbebceb40480ee5042879290e6d67e771753dc/1password.sh#L82
direnv_load op run --env-file=.env.1p.skate -- direnv dump
