<h1>Test Groups</h1>
<ul>
    <%= for test_group <- @test_groups do %>
        <li><%= link test_group.name, to: ~p"/test_groups/#{test_group.id}" %></li>
    <% end %>
</ul>
<%= form_for @changeset, ~p"/test_groups/create", fn f -> %>
    <div>
        <%= label do %>
            Name: <%= text_input f, :name %>
        <% end %>
        <%= submit "Create" %>
    </div>
    <div>
        <%= error_tag f, :name %>
    </div>
<% end %>
