@use "../color/tokens_2024" as tokens;

$table-border: 1px solid tokens.$gray-400;
$table-border-radius: 0.5rem;

.c-detours-table {
  border-spacing: 0;

  thead {
    text-align: left;
    font-weight: 600;
  }

  th {
    background-color: tokens.$gray-50;
    color: tokens.$gray-700;

    white-space: nowrap;
  }

  .search-header {
    th {
      background: tokens.$eggplant-50;
    }

    &__select {
      width: 33%;

      label {
        @include filter-label;
      }

      select {
        width: 80%;

        @include media-breakpoint-down(lg) {
          width: 100%;
        }
      }
    }
  }

  td {
    color: tokens.$gray-900;
  }

  th,
  td {
    border-bottom: $table-border;
  }

  tr {
    th:first-child,
    td:first-child {
      @include media-breakpoint-up(md) {
        border-left: $table-border;
      }
    }

    th:last-child,
    td:last-child {
      border-right: $table-border;
    }
  }

  tr:first-child {
    th {
      border-top: $table-border;
    }

    th:first-child {
      border-top-left-radius: $table-border-radius;
    }
    th:last-child {
      border-top-right-radius: $table-border-radius;
    }
  }

  tr:last-child {
    td:first-child {
      border-bottom-left-radius: $table-border-radius;
    }
    td:last-child {
      border-bottom-right-radius: $table-border-radius;
    }

    @include media-breakpoint-down(md) {
      td {
        border-bottom: none;
      }
    }
  }
}

.c-detours-table__route-info-text {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.c-detours-table__route-info-direction {
  color: tokens.$gray-600;
}

.c-detour-list-filter__text {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-top: 0.5rem;
}

.c-detour-list-filter__label {
  @include filter-label;
}

.c-detour-list-filter__input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 65%;
}

.c-detour-list-filter__input {
  @include filter-input;
  height: 2.375rem;
  box-sizing: border-box;
  border-right: none;
  border-radius: 6px 0 0 6px;
  font-size: 1rem;
  width: 100%;

  &::placeholder {
    opacity: 1;
    color: $color-gray-600;
  }

  &:hover {
    border-color: tokens.$eggplant-400;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(109, 57, 172, 0.25);
    clip-path: inset(-0.25rem -0.1rem -0.25rem -0.25rem);
    border-right: none;
  }

  &:focus {
    border-color: tokens.$eggplant-400;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(109, 57, 172, 0.25);
    clip-path: inset(-0.25rem -0.1rem -0.25rem -0.25rem);
    border-right: none;
  }
}

.c-detour-list-filter__clear {
  @include filter-clear;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.c-detour-list-filter__submit {
  @include button-icon(1.25rem);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 2.375rem;
  padding: 1rem;
  border-radius: 0 6px 6px 0;
  font-weight: 400;
  color: tokens.$eggplant-500;
  text-decoration: none;
  border: 1px solid tokens.$eggplant-500;
  white-space: nowrap;
  overflow: hidden;

  span {
    margin-right: 0.5rem;
  }
}
