.c-detour_map--original-route-shape {
  stroke: $color-kiwi-500;
}

.c-detour_map--detour-route-shape {
  stroke: $color-lemon-500;
}

.c-detour_map-circle-marker--start {
  stroke: $color-kiwi-400;
  fill: $color-kiwi-400;
}

.c-detour_map-circle-marker--end {
  stroke: $color-strawberry-400;
  fill: $color-strawberry-400;
}

.c-detour_map--tooltip::before {
  border-top-color: black;
}

.c-detour_map--tooltip {
  background-color: black;
  border-color: black;
  color: white;
  opacity: 100% !important;
  font-size: 14px;
  padding: 4px 8px 4px 8px;
  font-family: var(--bs-body-font-family);
  border-radius: var(--bs-border-radius);
}
