.c-detour-modal {
  z-index: 2001;
  top: 0;
  left: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  transition: all 0.3s;
}

.c-detour-modal__hidden {
  transform: scale(1.02) translate(0px, -50px);
  opacity: 0;
  z-index: -1;
}
