.c-detour_map--original-route-shape {
  stroke: $color-kiwi-500;
}

.c-detour_map--detour-route-shape {
  stroke: $color-lemon-500;
}

.c-detour_map-circle-marker--start {
  stroke: $color-kiwi-400;
  fill: $color-kiwi-400;
}

.c-detour_map-circle-marker--end {
  stroke: $color-strawberry-400;
  fill: $color-strawberry-400;
}
