.c-detour-modal {
  inset: 0;
  position: fixed;
}

.c-detour-modal__transition-appear {
  opacity: 0;
  transform: scale(1.02) translate(0px, -50px);
}

.c-detour-modal__transition-appear-active {
  transition: all 0.3s;
  opacity: 1;
  transform: none;
}

.c-detour-modal__transition-exit-active {
  transition: all 0.3s;
  transform: scale(1.02) translate(0px, -50px);
  opacity: 0;
}
