@use "../color/definitions" as semantic;
@use "../color/tokens_2024" as tokens;

.c-detour_map--original-route-shape-core {
  stroke: $color-kiwi-500;
  opacity: 50%;
}

.c-detour_map--original-route-shape {
  stroke: $color-kiwi-500;
  opacity: 0%;

  &:hover {
    opacity: 35%;
  }
}

.c-detour_map--original-route-shape-diverted {
  stroke: semantic.$missed-stop;
  stroke-dasharray: 10 10;
  opacity: 50%;
}

.c-detour_map--original-route-shape__unstarted {
  cursor: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E .color %7B fill: %2303A900; %7D %3C/style%3E%3Ccircle cx='11' cy='11' r='10' class='color' style='filter: opacity(0.5) blur(0.5px)'/%3E%3Ccircle cx='11' cy='11' r='7' class='color' stroke='white' stroke-width='2'/%3E%3C/svg%3E")
      11 11,
    pointer;
}

.c-detour_map--original-route-shape__unfinished {
  cursor: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E .color %7B fill: %239C074D; %7D %3C/style%3E%3Ccircle cx='11' cy='11' r='10' class='color' style='filter: opacity(0.5) blur(0.5px)'/%3E%3Ccircle cx='11' cy='11' r='7' class='color' stroke='white' stroke-width='2'/%3E%3C/svg%3E")
      11 11,
    pointer;
}

.c-detour_map--detour-route-shape {
  stroke: $color-eggplant-400;
  opacity: 50%;
}

.c-detour_map-circle-marker--start {
  stroke: #03a900;
  fill: #03a900;
}

.c-detour_map-circle-marker--end {
  stroke: $color-strawberry-700;
  fill: $color-strawberry-700;
}

.c-detour_map-circle-marker--detour-point {
  stroke: tokens.$eggplant-500;
  fill: white;
}
