@use "../color/tokens_2024" as tokens;

.c-bottom-nav-mobile {
  background-color: $color-gray-50;
  border-top: 1px solid $color-gray-300;
  padding: 8px 24px 16px 24px;
}

.c-bottom-nav-mobile__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.c-bottom-nav-mobile__link,
.c-bottom-nav-mobile__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  color: tokens.$eggplant-500;
  text-decoration: none;

  svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
    stroke: none;
  }

  &.c-bottom-nav-mobile__link--active {
    .c-bottom-nav-mobile__icon {
      background-color: tokens.$eggplant-500;
      color: $white;
    }

    .c-bottom-nav-mobile__text {
      color: tokens.$eggplant-500;
      font-weight: var(--font-weight-bold);
    }
  }
}

.c-bottom-nav-mobile__icon {
  line-height: 0;
  box-sizing: border-box;
  padding: 12px;
  border-radius: 8px;

  &.c-bottom-nav-mobile__icon--swings-view svg {
    transform: scaleX(-1);
    fill: none;
    stroke: currentColor;
  }

  &:hover {
    background-color: tokens.$eggplant-100;
  }
}

.c-bottom-nav-mobile__text {
  font-size: var(--font-size-xs);
  text-align: center;
}
