.c-bottom-nav-mobile {
  background-color: $color-gray-50;
  border-top: 1px solid $color-gray-300;
  padding: 0.5rem 1.5rem 1.75rem 1.5rem;
}

.c-bottom-nav-mobile__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.c-bottom-nav-mobile__link,
.c-bottom-nav-mobile__button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0.75rem;
  border-radius: 0.375rem;
  color: $color-gray-600;
  height: 3rem;
  width: 3rem;

  &:hover {
    background-color: $color-gray-100;
    color: $color-gray-700;
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: $color-gray-600;
    stroke: none;
  }

  &.c-bottom-nav-mobile__link--active {
    background-color: $color-eggplant-700;
    font-weight: 500;
    color: $white;

    svg {
      fill: $white;
    }
  }
}

.c-bottom-nav-mobile__icon {
  line-height: 0;

  &.c-bottom-nav-mobile__icon--swings-view svg {
    transform: scaleX(-1);
    fill: $color-gray-50;
    stroke: $color-gray-600;
  }
}
