.m-left-nav {
  width: 11.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;

  background-color: $color-gray-50;

  border-right: 1px solid $color-gray-300;
  border-top: 1px solid $color-gray-300;
}

.m-left-nav--collapsed {
  width: 4.25rem;
}
