.m-left-nav {
  width: calc(11.5rem + 1px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100%;

  background-color: $color-gray-50;

  border-right: 1px solid $color-gray-300;
  padding: 1.5rem 1rem;

  .m-left-nav__icon {
    padding-right: 0.75rem;
  }

  hr {
    border: 1px solid $color-gray-300;
  }
}

.m-left-nav--collapsed {
  width: min-content;

  .m-left-nav__icon {
    padding-right: 0;
  }
}

.m-left-nav__links {
  display: flex;
  flex-direction: column;
  width: calc(100% + 1px);
  margin: 0;

  :not(:last-child) {
    padding-bottom: 0.5rem;
  }
}

.m-left-nav--collapsed {
  .m-left-nav__link {
    padding: 0;
    width: 2.25rem;
    justify-content: center;
  }
}

.m-left-nav__link {
  @include button-icon(1.25rem);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 2.25rem;
  padding: 0.5rem;
  border-radius: 0.375rem;
  font-weight: 400;
  @include font-body;
  color: $color-gray-600;
  text-decoration: none;
  border: 1px solid transparent;

  &:hover {
    background-color: $color-gray-100;
    color: $color-gray-700;
    font-weight: 500;
  }

  &.m-left-nav__link--active {
    background-color: $color-eggplant-700;
    font-weight: 500;
    color: $white;
  }
  &:focus-visible {
    outline: 2px solid $color-eggplant-500;
    border: 1px solid $white;
  }
}

.m-left-nav__view {
  background-color: $white;
  border: 1px solid $color-gray-200;

  &.m-left-nav__view--active {
    background-color: $color-eggplant-200;
    font-weight: 500;
    color: $color-eggplant-700;
    border: 1px solid transparent;

    .m-left-nav__icon svg {
      stroke: $color-eggplant-700;

      circle {
        fill: $color-eggplant-700;
      }
    }
  }

  .m-left-nav__icon {
    svg {
      fill: $color-gray-50;
      stroke: $color-gray-600;

      circle {
        fill: $color-gray-600;
      }

      .clock {
        stroke-width: 2;
        fill: transparent;
      }

      .bang {
        fill: $color-gray-50;
        stroke: none;
      }

      &:hover {
        svg {
          path {
            fill: $color-gray-500;
            stroke: none;
          }
        }
      }
    }

    &.m-left-nav__icon--swings-view svg {
      fill: transparent;
      transform: scaleX(-1);
    }

    &.m-left-nav__icon--notifications-view {
      svg {
        path {
          fill: $color-gray-600;
          stroke: none;
        }

        circle {
          fill: $color-strawberry-500;
          stroke: $color-strawberry-500;
        }

        &:hover {
          svg {
            circle {
              fill: $color-strawberry-400;
              stroke: $color-strawberry-400;
            }
          }
        }
      }
    }

    &.m-left-nav__icon--notifications-view--active {
      svg {
        path {
          fill: $color-eggplant-800;
          stroke: none;
        }

        circle {
          fill: $color-strawberry-500;
          stroke: $color-strawberry-500;
        }
      }
    }
  }
}
