@use "../color/tokens_2024" as tokens;

.c-nav-menu--open {
  width: 18.125rem;
  max-width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 110;
  padding: 0px;
  background-color: $color-gray-50;
  border-right: 1px solid $color-gray-300;
  overflow-y: scroll;
}

.c-nav-menu--closed {
  display: none;
}

.c-nav-menu__icon svg {
  fill: $color-gray-600;
  &:hover,
  &:active,
  &:focus {
    fill: $color-gray-500;
  }
}

.c-nav-menu__header {
  margin-bottom: 0.5rem;
  padding: 0.625rem 1.5rem 0.625rem 1.5rem;
  background-color: $color-gray-100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-nav-menu__button {
  // @include button-icon(1rem);
  @include button-secondary;
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 8px;
  border-color:transparent;
  background-color: transparent;
}

.c-nav-menu__close {
  width: 1rem;
  height: 1rem;
  svg {
    fill: $color-gray-600;
  }
}

.c-nav-menu__close-icon {
  display: block;
  height: 1rem;
}

.c-nav-menu__logo {
  width: 2.5rem;
  height: 1.5rem;

  svg {
    width: 100%;
    height: 100%;
  }
}

.c-nav-menu__logo-icon {
  svg {
    fill: $color-eggplant-900;
    max-width: 100%;
    height: 100%;
  }
}

.c-nav-menu-backdrop {
  display: block;
  z-index: 109;
  background: rgba(88, 88, 88, 0.23);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
