@use "../color/tokens_2024" as tokens;

.c-nav-menu--open {
  width: 18.125rem;
  max-width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 110;
  padding: 0px;
  background-color: tokens.$gray-50;
  border-right: 1px solid tokens.$gray-300;
  overflow-y: scroll;
}

.c-nav-menu--closed {
  display: none;
}

.c-nav-menu hr {
  border-top: 1px solid tokens.$gray-300;
}

.c-nav-menu__header {
  padding: 8px 24px 8px 24px;
  background-color: $white;
  border-bottom: 1px solid tokens.$gray-500;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    min-width: 24px;
    min-height: 24px;
    max-width: 24px;
    max-height: 24px;
  }
}

.c-nav-menu__button {
  @include button-secondary;
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 8px;
  border-color: transparent;
  background-color: transparent;
}

.c-nav-menu__logo-icon {
  svg {
    fill: tokens.$gray-900;
    width: 32px;
    height: 17px;
  }
}

.c-nav-menu-backdrop {
  display: block;
  z-index: 109;
  background: rgba(88, 88, 88, 0.23);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
