.c-top-nav {
  width: 100%;
  height: 3rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.5rem;

  background-color: $color-gray-50;

  border-bottom: 1px solid $color-gray-300;
}

.c-top-nav__logo {
  width: 2.5rem;
  height: 1.5rem;

  svg {
    width: 100%;
    height: 100%;
  }
}

.c-top-nav__logo-icon {
  svg {
    fill: $color-eggplant-900;
  }
}

.c-top-nav__right-items {
  display: flex;

  :not(:last-child) {
    padding-right: 1.5rem;
  }
}

.c-top-nav__right-item {
  @include button-icon(1.5rem);
  color: $color-gray-600;

  & span svg {
    stroke: none;
  }

  &:hover {
    color: $color-gray-500;
  }

  &.c-top-nav__right-item--active {
    color: $color-eggplant-800;
  }
}
