<div
  id="app"
  data-email-address={@email}
  data-user-token={@user_token}
  data-csrf-token={@csrf_token}
  data-user-settings={Jason.encode!(@user_settings)}
  data-route-tabs={Jason.encode!(@route_tabs)}
  data-tileset-url={@tileset_url}
  data-tileset-urls={Jason.encode!(@tileset_urls)}
  data-dispatcher-flag={Jason.encode!(@dispatcher_flag)}
  data-user-test-groups={Jason.encode!(@user_test_groups)}
  data-map-limits={Jason.encode!(@map_limits)}
>
</div>
