.m-about-page {
  background: $color-bg-medium;

  @media (min-width: 720px) {
    height: 100%;
    position: fixed;
    width: 100%;
  }
}

.m-about-page__container {
  background: $color-bg-light;
  padding: 2rem;

  @media (min-width: 720px) {
    width: 50%;
    height: 100%;
    position: fixed;
  }

  @media (min-width: 1200px) {
    width: 33%;
  }
}

.m-about-page__title {
  @include font-header;
  text-align: center;
}

.m-about-page__section {
  background-color: $white;
  border-radius: 8px;
  box-shadow: $subtle-box-shadow;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
}

.m-about-page__header {
  @include font-emph;
  font-weight: bold;
}

.m-about-page__link {
  @include button-primary;
  display: block;
  text-align: center;
  text-decoration: none;
}
