@use "./color/tokens_2024" as new_tokens;

.c-alert {
  @include media-breakpoint-up(md) {
    min-width: 400px;
  }

  &.c-alert__in-sidebar {
    min-width: unset;
    width: 100%;
  }

  font-size: var(--font-size-m);
}

.c-alert__close-button {
  height: 1rem;
  width: 1rem;
  margin-left: auto;
  padding: 0.25rem;
}

.c-alert__icon {
  height: 1rem;

  svg {
    fill: currentColor;

    height: 1rem;
    width: 1rem;
  }
}

.c-alert__header {
  font-size: 1.125rem;
  font-weight: var(--font-weight-semi);
}

.c-alert.alert-warning-dark {
  --bs-alert-color: #{new_tokens.$lemon-800};
  --bs-alert-link-color: #{new_tokens.$lemon-800};
  --bs-alert-bg: #fef1e8;
  --bs-alert-border-color: #c98520;
}
