// Undo browser defaults

html {
  height: 100vh;
}

body {
  margin: 0;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  font-family: inherit;
  outline: none;
  padding: 0;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: inherit;
  display: block;
  font: inherit;
  font-family: inherit;
  outline: none;
}

input {
  color: inherit;
  font: inherit;
  font-family: inherit;
  outline: none;
}

ol,
ul {
  list-style-type: none;
  padding: 0;
}

th {
  font-weight: inherit;
}
