.m-card {
  display: flex;
  flex-direction: column;

  max-width: Min(23.125rem, 100%);

  background-color: $color-kiwi-50;
  border: 1px solid $color-kiwi-400;
  border-radius: 0.5rem;
  padding: 0.3125rem 0.3125rem 1rem 1rem;

  &:hover {
    background-color: $white;
    border: 1px solid $color-kiwi-300;
  }

  &:focus {
    background-color: $color-kiwi-100;
  }
}

.m-card--clickable {
  cursor: pointer;
}

.m-card__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;

  button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 2.5rem;
    height: 2.5rem;
  }
}

.m-card__title {
  flex-grow: 1;
  font-size: 1rem;
  font-weight: 600;
  color: $color-kiwi-800;
}

.m-card__time {
  font-size: 1rem;
  font-weight: 500;
  color: $color-kiwi-800;
}

.m-card__unread-icon {
  @include button-icon(0.5rem) span {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.m-card__contents {
  margin-top: 0.3125rem;
}

.m-card__body {
  font-size: 0.875rem;
  font-weight: 400;
  color: $color-gray-700;
}

.m-card__properties {
  margin-top: 1.25rem;

  li {
    font-size: 0.875rem;
    line-height: 0.875rem;

    &:not(:last-child) {
      padding-bottom: 0.5rem;
    }
  }
}

.m-card__properties-label {
  width: 6rem;
  display: inline-block;

  font-weight: 500;
  color: $color-gray-700;
}

.m-card__properties-value {
  font-weight: 400;
  color: $color-gray-600;
}
