$white: #ffffff;
$black: #000000;

$pale-grey: #f2f3f5;
$light-periwinkle: #d5d8e0;
$blue-grey: #8b8d91;
$steel: #788093;
$brownish-grey: #777777;
$charcoal-grey: #454a51;
$dark: #1c1e23;

$tomato: #e45d32;

$sunflower: #ffce0c;
