$color-crowding-empty-text: $color-component-medium;
$color-crowding-empty-icon: $color-secondary-light;
$color-crowding-not-crowded: #5cbf95;
$color-crowding-some-crowding: #fca400;
$color-crowding-crowded: #e90d0d;
$color-crowding-icon-bg: $color-bg-medium;

.m-crowding-diagram {
  border-top: 1px solid $color-rule;
  font-size: 0.875rem;
  line-height: 1.3rem;
  padding: 1rem;
  position: relative;
}

.m-crowding-diagram__status-description {
  text-transform: uppercase;

  &--empty {
    color: $color-crowding-empty-text;
  }

  &--not-crowded {
    color: $color-crowding-not-crowded;
  }

  &--some-crowding {
    color: $color-crowding-some-crowding;
  }

  &--crowded {
    color: $color-crowding-crowded;
  }
}

.m-crowding-diagram__crowding-icon {
  bottom: 1rem;
  position: absolute;
  right: 1rem;

  svg {
    height: 2.5rem;
    width: 2.5rem;

    circle,
    path {
      fill: $color-crowding-icon-bg;
    }
  }

  &--empty {
    bottom: auto;
    top: 1rem;
    svg {
      * {
        fill: $color-crowding-empty-icon;
      }
    }
  }

  &--not-crowded {
    svg * {
      &:nth-of-type(1) {
        fill: $color-crowding-not-crowded;
      }
    }
  }

  &--some-crowding {
    svg * {
      &:nth-of-type(1),
      &:nth-of-type(2) {
        fill: $color-crowding-some-crowding;
      }
    }
  }

  &--crowded {
    svg * {
      fill: $color-crowding-crowded;
    }
  }
}
