$color-crowding-empty-icon: $color-bg-medium;
$color-crowding-no-data-icon: $color-secondary-light;
$color-crowding-not-crowded: #14cc00;
$color-crowding-some-crowding: #fca400;
$color-crowding-crowded: #e90d0d;
$color-crowding-icon-bg: $color-bg-medium;

@mixin crowding-icon-colors {
  circle,
  path {
    fill: $color-crowding-icon-bg;
  }

  &--empty {
    circle,
    path {
      fill: $color-crowding-empty-icon;
    }
  }

  &--no-data {
    circle,
    path {
      fill: $color-crowding-no-data-icon;
    }
  }

  &--not-crowded {
    circle,
    path {
      &:nth-of-type(1) {
        fill: $color-crowding-not-crowded;
      }
    }
  }

  &--some-crowding {
    circle,
    path {
      &:nth-of-type(1),
      &:nth-of-type(2) {
        fill: $color-crowding-some-crowding;
      }
    }
  }

  &--crowded {
    circle,
    path {
      fill: $color-crowding-crowded;
    }
  }
}

.c-crowding-diagram {
  border-top: 1px solid $color-rule;
  font-size: 0.875rem;
  line-height: 1.3rem;
  padding: 1rem;
  position: relative;
}

.c-crowding-diagram__status-description {
  font-weight: 500;
  text-transform: uppercase;
}

.c-crowding-diagram__crowding-icon {
  @include crowding-icon-colors;

  bottom: 1rem;
  position: absolute;
  right: 1rem;

  svg {
    height: 2.5rem;
    width: 2.5rem;
  }

  &--empty {
    bottom: auto;
    top: 1rem;
  }
}

.c-crowding-diagram__tooltip-anchor {
  margin-left: 0.25rem;
  vertical-align: middle;

  svg {
    height: 0.75rem;
    width: 0.75rem;

    * {
      fill: $color-bg-medium;
    }
  }
}
