@use "./colors" as colors;

:root {
  // @include colors.theme-colors; // Provided as CSS variables by bootstrap
  @include colors.service-colors;
  @include colors.mbta-colors;
}

:root,
.early-red {
  --color-early: #{colors.$persimmon};
  --color-late: #{colors.$sky};
}

.early-blue {
  --color-early: #{colors.$sky};
  --color-late: #{colors.$persimmon};
}
