.m-data-status-banner {
  width: 100%;
}

.m-data-status-banner--outage {
  background-color: $black;
  color: $color-font-light;
}

.m-data-status-banner__heading {
  @include font-emph;
  padding-left: 0.625rem;
  padding-top: 0.625rem;
}

.m-data-status-banner__content {
  padding-bottom: 0.625rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
