.l-diversion-page {
  display: grid;
  // Default layout is linear
  grid-template:
    "heading" min-content
    "panel" auto
    "map" 80vh
    / 1fr;

  &__header {
    grid-area: heading;
  }

  &__panel {
    grid-area: panel;
  }

  &__map {
    grid-area: map;
  }

  @include media-breakpoint-up(md) {
    // For larger breakpoints, layout into grid
    grid-template:
      "heading heading" min-content
      "panel map" auto
      / fit-content(28ch) auto;

    // Overlay the panel and make the panel header match
    // the size of the page header if subgrid is supported
    @supports (grid-template-rows: subgrid) {
      grid-template:
        [panel-start] "heading heading" min-content
        "panel map" auto
        / fit-content(28ch) auto;

      .l-diversion-page__panel,
      .l-diversion-page-panel {
        display: grid;

        grid-template-rows: subgrid;
        grid-template-columns: subgrid;

        grid-area: panel;

        .l-diversion-page__header,
        .l-diversion-page-panel__header {
          grid-row: heading;
        }

        .l-diversion-page-panel__body {
          grid-row: 2/-1;
        }
      }
    }
  }
}


.l-diversion-page-panel {
  // Try to fill space and expand children when not in
  // the `l-diversion-page` grid
  :not(.l-diversion-page__panel) > & {
    height: 100%;
    display: flex;
    flex-direction: column;

    > .l-diversion-page-panel__body {
      flex-grow: 1;
    }
  }

  &__scroll-area {
    flex: 1 1 0;
    overflow-y: auto;
  }
}

.c-diversion-panel__origin,
.c-diversion-panel__direction {
  font-size: var(--font-size-s);
}

.c-diversion-panel__description {
  font-weight: var(--font-weight-semi);
}

.l-diversion-page__header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.c-diversion-panel__h2 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semi);
}

.c-diversion-panel__h3 {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-semi);
}

.c-diversion-panel__help-text {
  line-height: 1.5;
}
