.c-drawer-tab {
  background-color: $color-bg-medium;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  position: absolute;
  top: 2.5rem;
  width: 2rem;
}

.c-drawer-tab__tab-button {
  @include button-transparent;
  @include button-icon(0.9rem);
  font-size: 2rem;
  line-height: 1.5rem;
  margin: 0;
  padding: 1.5rem 0.555rem 2rem;
}
