.u-hide {
  // Delay visibility transition to end of slide transition
  transition: visibility 0s $transition-slide-duration;

  .visible & {
    // when revealing do not delay visibility change
    transition-delay: 0s;
  }

  .hidden & {
    // when parent hides, hide this element from accessibility tree
    visibility: hidden;
  }
}
