@use "./color/tokens_2024" as tokens;

.c-dropdown-popup-wrapper {
  visibility: hidden;
}

.c-dropdown-popup-menu {
  position: static;
  visibility: visible;
}

.c-dropdown-popup-item {
    color: tokens.$gray-900 !important;
}
