.c-filter-accordion {
  @extend .c-garage-filter;

  &__body {
    // Display visual separator between content and header when expanded
    border-top: 1px solid #d8dde1;
  }

  &__toggle-button {
    height: 2.25rem;
    padding: 0 0.5rem 0 1rem;
    width: 100%;
    line-height: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;

    &:focus .c-garage-filter__show-hide-icon {
      border-radius: 4px;
      background-color: $color-gray-200;
    }
  }

  &__separator {
    width: 100%;
    border-bottom: 1px solid $color-gray-300;
  }

  &__show-hide-icon {
    @extend .c-garage-filter__show-hide-icon;
  }

  &__filter {
    display: flex;
    justify-content: space-between;
  }

  &__filters {
    margin: 1rem;
    color: $color-gray-700;
  }

  &__filter-toggle {
    width: 100%;
    // Expand tap target'
    padding-block: 0.25rem;

    display: flex;
    justify-content: space-between;

    .c-filter-accordion__toggle-icon {
      display: inline-block;
      width: 1.6875rem;
    }

    &:hover .c-filter-accordion__toggle-icon {
      outline: 1px solid $color-eggplant-400;
    }

    &:focus-within .c-filter-accordion__toggle-icon {
      outline: 1px solid $color-eggplant-500;
      box-shadow: 0px 0px 0px 2px rgba(170, 78, 242, 0.17);
    }
  }
}
