.m-garage-filter {
  @include font-small;
  color: #6e717d;
  background: $white;
  border: 1px solid #9fa2ac;
  border-radius: 0.25rem;
}

.m-garage-filter__header {
  border-bottom: 1px solid #d3d5d9;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.m-garage-filter__show-hide-button {
  @include button-icon(0.68rem);
  transform: rotate(-90deg);

  span {
    svg {
      fill: #4f535f;
    }
  }
}

.m-garage-filter__garage {
  display: flex;
  justify-content: space-between;
  padding: 0rem 0.5rem 0.5rem;

  &:first-child {
    padding: 0.75rem 0.5rem 0.5rem;
  }
}

.m-garage-filter__button {
  span {
    display: inline-block;
    width: 1.6875rem;
  }
}
