.m-headway-diagram {
  padding: 0.6875rem 0 0.45rem;
  position: relative;
}

.m-headway-diagram__route-line-background {
  background-color: $color-line-normal;
  height: 4px;
  position: absolute;
  top: 23px;
  width: 100%;
  z-index: -1;
}

.m-headway-diagram__vehicles {
  display: flex;
  justify-content: center;
  margin: 0 2.1875rem;
}

.m-headway-diagram__selected-vehicle {
  margin: 0 -0.4rem 0 -0.2rem;
  z-index: 2;
}

.m-headway-diagram__other-vehicle {
  cursor: pointer;
  margin: 6px -0.8rem 0 -0.5rem;
  z-index: 2;
}

.m-headway-diagram__headway {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: -6px;
}

.m-headway-diagram__headway-amount,
.m-headway-diagram__headway-status {
  color: $color-font-grey;

  .bunched & {
    color: $color-line-bunched-light;
  }

  .very-bunched & {
    color: $color-line-bunched;
  }

  .gapped & {
    color: $color-line-gapped-light;
  }

  .very-gapped & {
    color: $color-line-gapped;
  }
}

.m-headway-diagram__headway-amount {
  @include font-small;
  font-weight: bold;
  margin-bottom: 2px;
}

.m-headway-diagram__headway-status {
  font-size: 0.625rem;
  margin-top: 5px;
}

.m-headway-diagram__headway-line {
  background-color: $color-line-normal;
  border-radius: 6px;
  height: 6px;
  width: 9rem;

  .bunched & {
    background-color: $color-line-bunched-light;
  }

  .very-bunched & {
    background-color: $color-line-bunched;
  }

  .gapped & {
    background-color: $color-line-gapped-light;
  }

  .very-gapped & {
    background-color: $color-line-gapped;
  }
}
