.c-inactive-notification-modal__close-button {
  height: 1rem;
  position: relative;

  button {
    position: absolute;
    right: 0;

    svg {
      height: 1rem;
    }
  }
}

.c-inactive-notification-modal__body {
  margin-top: 1rem;
}

.c-inactive-notification-modal__buttons {
  display: flex;
  height: 2rem;
  justify-content: center;
  margin-top: 1.5rem;
}
