.c-inactive-notification-modal__close-button {
  height: 1rem;
  position: relative;

  button {
    position: absolute;
    right: 0;

    svg {
      height: 1rem;
    }
  }
}

.c-inactive-notification-modal__body {
  margin-top: 1rem;
}

.c-inactive-notification-modal__buttons {
  display: flex;
  height: 2rem;
  justify-content: center;
  margin-top: 1.5rem;
}

.c-inactive-notification-modal__keep-button {
  @include button-simple;
  flex: 0 1 auto;
  margin-right: 0.25rem;
  width: 30%;
}

.c-inactive-notification-modal__discard-button {
  @include button-primary;
  flex: 0 1 auto;
  margin-left: 0.25rem;
  width: 30%;
}
