.m-inactive-notification-modal__close-button {
  height: 1rem;
  position: relative;

  button {
    position: absolute;
    right: 0;

    svg {
      height: 1rem;
    }
  }
}

.m-inactive-notification-modal__body {
  margin-top: 1rem;
}

.m-inactive-notification-modal__buttons {
  display: flex;
  height: 1rem;
  margin-top: 1.5rem;
}

.m-inactive-notification-modal__button-wrapper {
  flex: 1;
  position: relative;
}

.m-inactive-notification-modal__keep-button {
  @include button-simple;
  position: absolute;
  right: 0.25rem;
  width: 60%;
}

.m-inactive-notification-modal__discard-button {
  @include button-primary;
  position: absolute;
  left: 0.25rem;
  width: 60%;
}
