.m-incoming-box {
  background-color: $color-bg-light;
  display: flex;
  flex-direction: column;
  grid-row: 4 / 5;
  margin: 0 0.5rem;
  min-height: 2.5rem;
}

.m-incoming-box__vehicle {
  @include font-body;
  justify-content: center;
  display: flex;
  padding: 0.25rem;
  width: 100%;

  &:focus,
  &:hover {
    background-color: $color-secondary-light;
  }

  &.selected {
    background-color: $color-secondary-medium;
  }
}

.m-incoming-box__vehicle-label {
  margin-left: 0.5rem;
}
