.m-incoming-box {
  background-color: $color-bg-light;
  display: flex;
  flex-direction: column;
  min-height: 2.5rem;
  width: 12em;
}

.m-incoming-box__vehicle {
  @include font-body;
  justify-content: center;
  display: flex;
  padding: 0.25rem;
  width: 100%;

  &:focus,
  &:hover {
    background-color: $color-secondary-light;
  }

  &.selected {
    background-color: $color-secondary-medium;
  }
}

.m-incoming-box__vehicle-icon {
  margin-right: 0.5rem;
}

.m-incoming-box__vehicle-icon-svg {
  height: 14px;
  width: 18px;
}
