.m-incoming-box {
  background-color: $color-bg-light;
  display: flex;
  flex-direction: column;
  grid-row-start: m-incoming-box;
  margin: 0 0.5rem;
  min-height: 2.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid $color-gray-300;
}

.m-incoming-box__vehicle {
  @include font-body;
  justify-content: center;
  display: flex;
  padding: 0.25rem;
  width: 100%;

  &:focus,
  &:hover {
    background-color: $color-secondary-light;
  }

  &.selected {
    background-color: $color-secondary-medium;
  }

  .c-icon-alert-circle {
    margin-bottom: 2px;
    width: 10px;
  }
}

.m-incoming-box__vehicle-icon {
  margin-right: 0.25rem;
}

.m-incoming-box__vehicle-label {
  margin-left: 0.25rem;
}
