.m-ladder-page {
  box-sizing: border-box;
  height: 100%;
  position: relative;
  transition: $transition-slide;

  .m-tab-bar.hidden + & {
    margin-left: 0;
    padding-left: 0;
    width: 100%;
  }

  .m-tab-bar.visible + & {
    margin-left: $tab-bar-width;
    padding-left: $picker-width-narrow;
    width: calc(100% - #{$tab-bar-width});
  }
}

.m-ladder-page__route-tab-bar {
  display: flex;
  align-content: flex-start;
}

.m-ladder-page__tab-current {
  color: $color-component-red;
}
