.m-ladder {
  grid-row-start: m-ladder;
  margin: 0 auto;
  position: relative;

  .__react_component_tooltip {
    border-radius: 4px;
    text-align: center;
  }
}

.m-ladder__svg {
  display: block;
  position: absolute;
}

.m-ladder__line {
  fill: none;
  stroke: $color-line-normal;
  stroke-linecap: round;
  stroke-width: 7;
}

.m-ladder__headway-line {
  &--bunched {
    stroke: $color-line-bunched-light;
  }

  &--very-bunched {
    stroke: $color-line-bunched;
  }

  &--gapped {
    stroke: $color-line-gapped-light;
  }

  &--very-gapped {
    stroke: $color-line-gapped;
  }
}

.m-ladder__stop-circle {
  fill: $white;
}

.m-ladder__timepoint-name {
  @include font-timepoint;
  cursor: pointer;
}

.m-ladder__vehicle {
  cursor: pointer;

  &:hover {
    .m-vehicle-icon__triangle {
      stroke: $color-secondary-light;
    }

    .m-vehicle-icon__ghost-highlight {
      stroke: $color-secondary-light;
    }

    .m-vehicle-icon__label-background {
      fill: $color-secondary-light;
    }
  }

  &.selected {
    .m-vehicle-icon__triangle {
      stroke: $color-secondary-medium;
    }

    .m-vehicle-icon__ghost-highlight {
      stroke: $color-secondary-medium;
    }

    .m-vehicle-icon__label-background {
      fill: $color-secondary-medium;
    }
  }
}

.m-ladder__vehicle-label-text {
  @include font-tiny;
}

.m-ladder__scheduled-line {
  stroke: $color-vehicle-normal-line;
  stroke-width: 2;

  &.early {
    stroke: $color-vehicle-early;
  }

  &.late {
    stroke: $color-vehicle-late;
  }
}

.m-ladder__crowding {
  @include crowding-icon-colors;
}
