.m-ladder {
  grid-row-start: m-ladder;
  margin: 0 auto;
  position: relative;
}

.m-ladder__svg {
  display: block;
  position: absolute;
}

.m-ladder__line {
  fill: none;
  stroke: $color-line-normal;
  stroke-linecap: round;
  stroke-width: 7;
}

.m-ladder__stop-circle {
  fill: $white;
}

.m-ladder__timepoint-name {
  @include font-timepoint;
  cursor: pointer;
}

.m-ladder__vehicle {
  cursor: pointer;

  &:hover {
    .c-vehicle-icon__triangle {
      stroke: $color-secondary-light;
    }

    .c-vehicle-icon__ghost-highlight {
      stroke: $color-secondary-light;
    }

    .c-vehicle-icon__label-background {
      fill: $color-secondary-light;
    }
  }

  &--selected {
    .c-vehicle-icon__triangle {
      stroke: $color-secondary-medium;
    }

    .c-vehicle-icon__ghost-highlight {
      stroke: $color-secondary-medium;
    }

    .c-vehicle-icon__label-background {
      fill: $color-secondary-medium;
    }
  }
}

.m-ladder__vehicle-label-text {
  @include font-tiny;
}

.m-ladder__scheduled-line {
  stroke: $color-vehicle-normal-line;
  stroke-width: 2;

  &.early.early-red {
    stroke: $color-vehicle-red;
  }
  &.early.early-blue {
    stroke: $color-vehicle-blue;
  }

  &.late.early-red {
    stroke: $color-vehicle-blue;
  }
  &.late.early-blue {
    stroke: $color-vehicle-red;
  }
}

.m-ladder__crowding {
  @include crowding-icon-colors;
}
