$late-view-background-color: $color-bg-light;

.m-late-view {
  @include modal-content;
  background-color: $late-view-background-color;
  height: 100%;
  width: 33.5rem;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1001;

  @media screen and (max-width: 700px) {
    width: 100%;
  }
}

.m-late-view__content-wrapper {
  height: 100%;
  overflow-y: scroll;
}

.m-late-view__panels {
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem 0 1.6rem;
}

.m-late-view__panel {
  overflow-x: scroll;
  background-color: $white;
  border-radius: 0.5rem;
  filter: drop-shadow(0px 8px 25px rgba(23, 31, 38, 0.14))
    drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.11))
    drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.06));

  height: fit-content;

  margin-bottom: 2.25rem;

  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  .m-late-view__panel-header {
    font: inherit;
    margin: 0;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
  }

  table {
    border-collapse: collapse;
    font-size: 0.75rem;
    width: 100%;

    thead {
      background-color: $color-bg-light;
      border-bottom: solid $color-primary-dark 1px;
      border-top: solid $color-bg-medium 1px;
      color: $color-component-dark;
      font-weight: bold;
      text-align: left;
    }

    tbody {
      tr {
        border-right: solid transparent 1px;
        border-left: solid transparent 1px;
      }

      tr:not(:last-child) {
        border-bottom: solid $color-secondary-light 1px;
      }

      tr:hover {
        border-right: solid $color-bg-medium 1px;
        border-left: solid $color-bg-medium 1px;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
      }
    }

    th {
      padding-top: 1rem;
      padding-bottom: 1rem;
      vertical-align: top;
    }

    td {
      padding-bottom: 1rem;
      padding-top: 1rem;
    }
  }
}

.m-late-view__missing-logons {
  width: 100%;
}

.m-late-view__late-buses {
  width: 100%;
}

.m-late-view__run-link {
  align-items: center;
  display: flex;
  font-weight: 600;
  height: 100%;

  .m-late-view__run-icon {
    display: inline-block;
    margin-right: 0.375rem;
    position: relative;
    width: 1.25rem;
  }

  svg {
    position: absolute;
    right: 0;
  }

  .m-late-view__block-waiver-icon {
    svg {
      height: 1.25rem;
      stroke: $color-primary-dark;
      top: -0.625rem;
      width: 1.25rem;
    }
  }

  .m-late-view__ghost-icon {
    svg {
      height: 1.25rem;
      top: -0.625rem;
      width: 1.25rem;
    }
  }

  .m-late-view__up-right-icon {
    svg {
      height: 0.5rem;
      stroke: $color-primary-dark;
      top: -0.25rem;
      width: 0.5rem;
    }
  }
}

.m-late-view__hide-check-header {
  width: 5%;
  min-width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-late-view__adherence-header {
  width: 15%;
}

.m-late-view__route-header {
  width: 15%;
}

.m-late-view__vehicle-header {
  width: 15%;
}

.m-late-view__run-number-header {
  width: 15%;
}

.m-late-view__scheduled-logon-header {
  width: 20%;
}

.m-late-view__location-header {
  width: 45%;
}

.m-late-view__operator-header {
  padding-left: 0.5rem;
  width: 35%;
}

.m-late-view__run-number-cell {
  position: relative;
  text-decoration: underline;

  a {
    cursor: pointer;
  }
}

.m-late-view__operator-name {
  padding-left: 0.5rem;
}

.m-late-view__route-pill {
  background: $color-primary-dark;
  border-radius: 0.25rem;
  font-family: $font-family-route-pill;
  width: 1.625rem;
  height: 0.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $white;
}

.m-late-view__popup {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #e5e7eb;
  position: absolute;
  bottom: 1rem;
  left: 3rem;
  width: 28rem;
  background-color: $color-gray-50;
  border-radius: 0.25rem;
  padding: 0.75rem;
  font-size: 0.75rem;
  font-weight: 600;

  button {
    padding: 0.25rem;
    position: absolute;
    top: 0.5rem;
    right: 0.75rem;
    border-radius: 0.25rem;

    svg {
      height: 0.75rem;
      width: 0.75rem;
      position: relative;
      top: 0.125rem;
      padding-right: 0.25rem;
    }
  }
}

.m-late-view__hide-popup {
  button {
    background-color: #055c66;
    color: $color-gray-50;

    &:hover {
      background-color: #118d86;
    }

    svg path {
      stroke: $color-gray-50;
    }
  }
}

.m-late-view__unhide-popup {
  button {
    background-color: $color-gray-50;
    color: #055c66;
  }
}

.m-late-view__data-row {
  td:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input:hover::before {
    background-color: #beede2;
    content: "\000A0";
    opacity: 0.3;
    display: block;
    height: 200%;
    width: 200%;
    position: relative;
    top: -50%;
    left: -50%;
    clip-path: circle(50%);
    -webkit-clip-path: circle(50%);
  }
}

.m-late-view__data-row--selected {
  background-color: #f1f8f3;
}

.m-late-view__hide-toggle {
  svg {
    height: 1rem;
    width: 1rem;
  }
}

.m-late-view__toggle-exterior {
  display: inline-block;
  width: 2rem;
  margin-left: 0.5rem;
  position: relative;
  border-width: 1px;
}

.m-late-view__toggle-interior {
  width: 1rem;
  position: absolute;
  border-width: 1px;
  top: -1px;
}

.m-late-view__toggle-exterior,
.m-late-view__toggle-interior {
  height: 1rem;
  border-radius: 0.5rem;
  border-style: solid;
}

.m-late-view__hide-toggle--hidden {
  svg path {
    stroke: #6e717d;
  }

  .m-late-view__toggle-interior {
    left: -1px;
  }

  .m-late-view__toggle-exterior,
  .m-late-view__toggle-interior {
    border-color: #6e717d;
  }
}

.m-late-view__hide-toggle--unhidden {
  svg path {
    stroke: $color-gray-800;
  }

  .m-late-view__toggle-interior {
    right: -1px;
    background-color: $color-gray-800;
  }

  .m-late-view__toggle-exterior,
  .m-late-view__toggle-interior {
    border-color: $color-gray-800;
  }
}
