$late-view-background-color: $color-bg-light;
$late-view-width: 31rem;

.m-late-view {
  @include modal-content;
  background-color: $late-view-background-color;
  height: 100%;
  overflow-y: scroll;
  position: absolute;
  left: $tab-bar-width;
  top: 0;
  width: $late-view-width;
  z-index: 1001;
}

.m-late-view .c-drawer-tab {
  background-color: $late-view-background-color;
  box-shadow: $modal-box-shadow;
  clip-path: inset(-2rem -2rem -2rem 0);
  -webkit-clip-path: inset(-2rem -2rem -2rem 0);
  left: $late-view-width;
}

.m-late-view__title {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  padding-left: 3rem;
}

.m-late-view__panels {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
}

.m-late-view__panel {
  background-color: $white;
  border-radius: 0.5rem;
  filter: drop-shadow(0px 8px 25px 0px rgba(23, 31, 38, 0.14))
    drop-shadow(0px 4px 10px 0px rgba(0, 0, 0, 0.11))
    drop-shadow(0px 2px 4px 0px rgba(0, 0, 0, 0.06));

  height: fit-content;

  .m-late-view__panel-header {
    font: inherit;
    margin: 0;
    padding: 1rem 0 1rem 1.5rem;
  }

  table {
    border-collapse: collapse;
    font-size: 0.75rem;

    thead {
      background-color: $color-bg-light;
      border-bottom: solid $color-primary-dark 1px;
      border-top: solid $color-bg-medium 1px;
      color: $color-component-dark;
      font-weight: bold;
      text-align: left;
    }

    tbody {
      tr {
        border-bottom: solid $color-secondary-light 1px;
      }
    }

    th {
      padding-top: 1rem;
      padding-bottom: 1rem;
      vertical-align: top;
    }

    td {
      padding-bottom: 1rem;
      padding-top: 1rem;
    }

    th:first-child,
    td:first-child {
      padding-left: 1.5rem;
    }
  }
}

.m-late-view__missing-logons {
  margin-bottom: 2.25rem;
  width: 28rem;
}

.m-late-view__late-buses {
  width: 28rem;
}

.m-late-view__run-link {
  align-items: center;
  display: flex;
  font-weight: 600;
  height: 100%;

  .m-late-view__run-icon {
    display: inline-block;
    margin-right: 0.375rem;
    position: relative;
    width: 1.25rem;
  }

  svg {
    position: absolute;
    right: 0;
  }

  .m-late-view__block-waiver-icon {
    svg {
      height: 1.25rem;
      stroke: $color-primary-dark;
      top: -0.625rem;
      width: 1.25rem;
    }
  }

  .m-late-view__ghost-icon {
    svg {
      height: 1.25rem;
      top: -0.625rem;
      width: 1.25rem;
    }
  }

  .m-late-view__up-right-icon {
    svg {
      height: 0.5rem;
      stroke: $color-primary-dark;
      top: -0.25rem;
      width: 0.5rem;
    }
  }
}

.m-late-view__adherence-header {
  width: 5rem;
}

.m-late-view__route-header {
  width: 5rem;
}

.m-late-view__vehicle-header {
  width: 5rem;
}

.m-late-view__run-number-header {
  width: 5rem;
}

.m-late-view__scheduled-logon-header {
  width: 9.5rem;
}

.m-late-view__location-header {
  width: 10rem;
}

.m-late-view__operator-header {
  width: 14rem;
}

.m-late-view__run-number-cell {
  position: relative;
  text-decoration: underline;

  a {
    cursor: pointer;
  }
}

.m-late-view__route-pill {
  margin-left: 0.5rem;
  background: $color-primary-dark;
  border-radius: 0.25rem;
  font-family: $font-family-route-pill;
  width: 1.625rem;
  height: 0.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $white;
  position: relative;
  left: -0.4rem;
}

.m-late-view__run-number-header--late,
.m-late-view__run-number-cell--late {
  display: flex;
  justify-content: flex-end;
  padding-right: 1.5rem;
}
