.leaflet-container {
  width: 100%;
  height: 100%;
}

.m-vehicle-map-state--street-view-enabled + .leaflet-container {
  cursor: url("data:image/svg+xml,%3Csvg height='114' width='114' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='57' cy='57' r='57' fill='%230000FF' opacity='0.25'/%3E%3Ccircle cx='57' cy='57' r='5' fill='%235182FF' stroke='%230016DB' stroke-width='2' /%3E%3C/svg%3E%0A")
      57 57,
    pointer;
}

.leaflet-right {
  padding-right: env(safe-area-inset-right);
}

.leaflet-bar.leaflet-control-zoom .leaflet-disabled {
  background-color: $color-button-disabled;
  color: $color-font-grey;
}

.fullscreen-icon {
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpolygon points='0 0 0 3.73 0 16.8 3.73 16.8 3.73 3.73 16.8 3.73 16.8 0 3.73 0 0 0'/%3E%3Cpolygon points='3.73 31.2 0 31.2 0 44.27 0 48 3.73 48 16.8 48 16.8 44.27 3.73 44.27 3.73 31.2'/%3E%3Cpolygon points='44.27 0 31.2 0 31.2 3.73 44.27 3.73 44.27 16.8 48 16.8 48 3.73 48 0 44.27 0'/%3E%3Cpolygon points='44.27 44.27 31.2 44.27 31.2 48 44.27 48 48 48 48 44.27 48 31.2 44.27 31.2 44.27 44.27'/%3E%3C/svg%3E");
  background-size: 16px;

  &.leaflet-fullscreen-on {
    background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpolygon points='13.07 13.07 0 13.07 0 16.8 13.07 16.8 16.8 16.8 16.8 13.07 16.8 0 13.07 0 13.07 13.07'/%3E%3Cpolygon points='0 31.2 0 34.93 13.07 34.93 13.07 48 16.8 48 16.8 34.93 16.8 31.2 13.07 31.2 0 31.2'/%3E%3Cpolygon points='34.93 13.07 34.93 0 31.2 0 31.2 13.07 31.2 16.8 34.93 16.8 48 16.8 48 13.07 34.93 13.07'/%3E%3Cpolygon points='31.2 31.2 31.2 34.93 31.2 48 34.93 48 34.93 34.93 48 34.93 48 31.2 34.93 31.2 31.2 31.2'/%3E%3C/svg%3E");
  }
}
// From https://github.com/brunob/leaflet.fullscreen/blob/master/Control.FullScreen.css - workaround for safari
// mobile not natively supporting fullscreen API
.leaflet-pseudo-fullscreen {
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
  top: 0px !important;
  left: 0px !important;
  z-index: 99999;
}
