.c-logged-in-as__container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.c-logged-in-as__icon {
  height: 2rem;
  width: 2rem;
}

.c-logged-in-as__text {
  font-weight: var(--font-weight-reg);
  font-size: var(--font-size-s);
  color: #6e7175;

  p {
    line-height: 1.5;
    margin: 0;
  }
}

.c-logged-in-as__email {
  font-weight: var(--font-weight-semi);
}
