$map-page-search-panel-width: 24rem;

.m-map-page {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  height: 100%;
  position: relative;
  overflow: visible;
}

.m-map-page__map {
  display: flex;
  flex: 1 1 auto;
  position: relative;
}

.m-map-page__input {
  padding: 0 1.5625rem;
}

.m-map-page__input-and-results {
  background-color: $color-gray-300;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 1rem;
  width: $map-page-search-panel-width;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  z-index: #{$leaflet-pane-z-index + 100};

  padding: 1.25rem 0 0 0;

  transition: $transition-slide;

  filter: drop-shadow(2px 0px 10px rgba(0, 0, 0, 0.2));

  hr {
    height: 1px;
    background-color: $color-gray-100;
    border: none;
    width: calc(100% - 2 * 1.5625rem);
    margin: 0 1.5625rem;
  }

  &.visible {
    left: 0;
  }

  &.hidden {
    left: calc(-1 * #{$map-page-search-panel-width} + 1rem);

    .m-search-display {
      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }
  }
}

.m-map-page__input-and-results .c-drawer-tab {
  left: 100%;
  top: 0;
  background-color: $color-gray-300;
  z-index: #{$leaflet-pane-z-index + 100};

  .c-drawer-tab__tab-button {
    &:focus,
    &:hover {
      color: $color-eggplant-500;
    }
  }
}

.m-map-page__toggle-mobile-display-button {
  display: none;
  margin: 0.5rem auto 0;
}

.m-search-display {
  flex: 1 1 auto;
  overflow-y: scroll;
  padding: 0.625rem 1rem 0 1rem;
}

@media screen and (max-width: $mobile-max-width) {
  .m-map-page {
    flex-direction: column;
  }

  .m-map-page__input-and-results .c-drawer-tab {
    display: none;
  }

  .m-map-page--show-list {
    .m-map-page__input-and-results {
      flex: 1 1 auto;
      height: 100%;
    }

    .m-map-page__map {
      // Needs to be hidden instead of not displayed so the map still gets drawn properly
      position: fixed;
      top: 100vh;
    }
  }

  .m-map-page--show-map {
    .m-map-page__input-and-results {
      flex: 0 0 auto;
      height: auto;
    }

    .m-search-display {
      display: none;
    }
  }

  .m-map-page__input-and-results {
    box-sizing: border-box;
    width: 100%;
    position: relative;
  }

  .m-map-page__toggle-mobile-display-button {
    display: block;
  }

  .m-map-page__map {
    box-sizing: border-box;
    height: 75%;
    width: 100%;
  }
}

$map-page-search-stub-size: 10px;

.m-map-page__map .m-map-display__selected-entity-card-container {
  position: absolute;
  top: 0.5rem;
  left: calc(env(safe-area-inset-left) + 60px - #{$map-page-search-stub-size});

  // Above the highest pane in the map (popup pane): https://leafletjs.com/reference.html#map
  z-index: 7001;

  cursor: default;
}
