$map-page-search-panel-width: 24rem;

.c-map-page {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  height: 100%;
  position: relative;
  overflow: visible;
}

.c-map-page__map {
  display: flex;
  flex: 1 1 auto;
  position: relative;
}

.c-map-page__input {
  padding: 0 1.5625rem;
}

.c-map-page .c-vehicle-properties-card {
  margin: 1rem;
}

.c-map-page .c-route-properties-card {
  margin: 1rem;
}

.c-map-page__input-and-results {
  background-color: $color-gray-300;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 1rem;
  width: $map-page-search-panel-width;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  z-index: #{$max-leaflet-z-index + 100};

  padding: 1.25rem 0 0 0;

  transition: $transition-slide;

  filter: drop-shadow(2px 0px 10px rgba(0, 0, 0, 0.2));

  & > div {
    max-height: 100%;
    display: flex;
    flex-direction: column;
  }

  & > div > hr {
    height: 1px;
    background-color: $color-gray-100;
    border: none;
    width: calc(100% - 2 * 1.5625rem);
    margin: 0 1.5625rem;
  }

  &--visible {
    left: 0;
  }

  &--hidden {
    left: calc(-1 * #{$map-page-search-panel-width} + 1rem);

    .c-search-display {
      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }
  }
}

.c-map-page__input-and-results .c-drawer-tab {
  left: 100%;
  top: 0;
  background-color: $color-gray-300;
  z-index: #{$max-leaflet-z-index + 100};

  .c-drawer-tab__tab-button {
    &:focus,
    &:hover {
      color: $color-eggplant-500;
    }
  }
}

.c-map-page__toggle-mobile-display-button {
  display: none;
  margin: 0.5rem auto 0;
}

.c-search-display {
  flex: 1 1 auto;
  overflow-y: scroll;
  padding: 0.625rem 1rem 0 1rem;
}

$map-page-search-stub-size: 10px;

.c-map-page__search-actions {
  margin: 0 1rem 1rem 1rem;
  display: flex;
  gap: 1rem;
}
.c-map-page__back-button {
  @include button-secondary;
  @include button-icon(1rem);
  display: flex;
  align-items: center;
  padding: 0.5rem;

  span {
    svg {
      fill: none;
      stroke-width: 2;
    }
  }
}

.c-map-page__new-search-button {
  @include button-icon(1rem);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 4px;

  padding: 0.5rem;
}

.c-map-page__new-search-button:only-child {
  justify-content: center;
  flex: 1;
}
