.m-map-page {
  box-sizing: border-box;

  *:before,
  *:after,
  * {
    box-sizing: inherit;
  }
}
.m-map-page {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  height: 100%;
  position: relative;
  overflow: visible;
}

.m-map-page__map {
  display: flex;
  flex: 1 1 auto;
  position: relative;
}

.m-map-page__input-and-results {
  background-color: $color-bg-base;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  width: 22rem;
}

.m-map-page__input,
.m-search-display {
  padding: 1.5rem 1.1875rem;
}

.m-map-page__input {
  border-bottom: 1px solid $white;
}

.m-map-page__toggle-mobile-display-button {
  @include button-text;
  display: none;
  font-size: 0.875rem;
  margin: 0.5rem auto 0;
}

.m-search-display {
  flex: 1 1 auto;
  overflow-y: scroll;
}

@media screen and (max-width: $mobile-max-width) {
  .m-map-page {
    flex-direction: column;
  }

  .m-map-page--show-list {
    .m-map-page__input-and-results {
      flex: 1 1 auto;
      height: 100%;
    }

    .m-map-page__map {
      // Needs to be hidden instead of not displayed so the map still gets drawn properly
      position: fixed;
      top: 100vh;
    }
  }

  .m-map-page--show-map {
    .m-map-page__input-and-results {
      flex: 0 0 auto;
      height: auto;
    }

    .m-search-display {
      display: none;
    }
  }

  .m-map-page__input-and-results {
    box-sizing: border-box;
    width: auto;
  }

  .m-map-page__toggle-mobile-display-button {
    display: block;
  }

  .m-map-page__map {
    box-sizing: border-box;
    height: 75%;
    width: 100%;
  }
}

.m-map-page__map .m-vehicle-properties-card {
  position: absolute;
  // Above the highest pane in the map (popup pane): https://leafletjs.com/reference.html#map
  z-index: 7001;
  top: 0.5rem;
  left: calc(env(safe-area-inset-left) + 60px - 10px);
  cursor: default;
}

.m-map-page__input-and-results[hidden] + *::before {
  content: "";
  width: 10px;
  height: 100%;
  background-color: magenta;
  background-color: $color-gray-400;
}
