.m-minischedule--hide-past {
  .m-minischedule__piece--past,
  .m-minischedule__row--past {
    display: none;
  }
}

.m-minischedule__show-past {
  @include font-link;
  border-bottom: 1px solid $color-component-light;
  padding: 1rem;
  text-align: left;
  width: 100%;
}

.m-minischedule__show-past-icon {
  display: inline-block;
  fill: $color-font-link;
  margin-right: 0.25rem;
  vertical-align: middle;
  width: 0.875rem;
}

.m-minischedule__header {
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
}

.m-minischedule__header-label {
  @include font-label;
  margin-right: 1rem;
}

.m-minischedule__run-header {
  background-color: $color-bg-light;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
}

.m-minischedule__duty-details {
  background-color: $color-secondary-light;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;

  .m-minischedule__header-label {
    display: inline-block;
    margin-bottom: 0.5rem;
    width: 40%;
  }
}

.m-minischedule__row {
  border-top: 1px solid $color-component-light;
  display: flex;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-top: 0.5rem;

  &.m-minischedule__layover-row {
    border-top-style: none;
    padding-top: 0;
    padding-bottom: 0.25rem;

    .m-minischedule__left-text,
    .m-minischedule__right-text {
      border-top: 1px solid $color-component-light;
      padding-top: 0.25rem;
    }
  }
}

.m-minischedule__icon {
  border-radius: 50%;
  flex: 0 0 auto;
  height: 1rem;
  margin-right: 0.5rem;
  padding: 0.25rem;
  width: 1rem;
  z-index: 2;
}

.m-minischedule__left-text {
  flex: 1 1 auto;
}

.m-minischedule__right-text {
  flex: 0 0 auto;
  padding-right: 1rem;
}

.m-minischedule__below-text {
  @include font-small;
}

.m-minischedule__piece-rows {
  // this is all about drawing the line through the icons on the left
  .m-minischedule__row {
    position: relative;

    &::before,
    &::after {
      left: 1.75rem;
      position: absolute;
      transform: translateX(-50%);
      width: 0.375rem;
    }

    &.m-minischedule__row--current {
      &::before,
      &::after {
        left: 1.25rem;
      }
    }
  }

  .m-minischedule__row:not(:first-child) {
    &::before {
      bottom: calc(100% - 1rem);
      content: "";
      top: 0;
    }
  }

  .m-minischedule__row:not(:last-child) {
    &::after {
      bottom: 0;
      content: "";
      top: 1rem;
    }
  }
}

.m-minischedule__piece--past,
.m-minischedule__piece--future {
  .m-minischedule__piece-rows {
    .m-minischedule__icon {
      &:not(:empty) {
        background-color: $color-component-light;
      }

      svg {
        fill: $color-component-medium;
      }
    }

    .m-minischedule__row {
      &::before,
      &::after {
        background-color: $color-component-light;
      }
    }
  }
}

.m-minischedule__piece--current,
.m-minischedule__piece--unknown {
  .m-minischedule__piece-rows {
    .m-minischedule__icon {
      &:not(:empty) {
        background-color: $color-primary;
      }

      svg {
        fill: $color-secondary-light;
      }
    }

    .m-minischedule__row {
      &::before,
      &::after {
        background-color: $color-primary;
      }
    }
  }
}

.m-minischedule__row--past {
  color: $color-font-grey;
}

.m-minischedule__row--current {
  border-left-style: solid;
  border-left-width: 0.5rem;
  font-weight: bold;
  padding-left: 0.25rem;

  .m-minischedule__icon {
    height: 1.5rem;
    margin-right: 0.25rem;
    width: 1.5rem;
  }

  svg {
    stroke: white;
    stroke-width: 0.25rem;
  }

  &.early {
    background-color: $color-vehicle-early-light;
    border-left-color: $color-vehicle-early;

    svg {
      fill: $color-vehicle-early;
    }
  }

  &.ghost {
    background-color: $color-secondary-medium;
    border-left-color: $color-secondary-dark;

    svg {
      fill: $color-secondary-dark;
    }
  }

  &.late {
    background-color: $color-vehicle-late-light;
    border-left-color: $color-vehicle-late;

    svg {
      fill: $color-vehicle-late;
    }
  }

  &.on-time {
    background-color: $color-vehicle-ontime-light;
    border-left-color: $color-vehicle-ontime;

    svg {
      fill: $color-vehicle-ontime;
    }
  }
}

.m-minischedule__row--mid-route-first-half {
  color: $color-font-grey;

  .m-minischedule__icon {
    &:not(:empty) {
      background-color: $color-component-light;
    }

    svg {
      fill: $color-component-medium;
    }
  }
}
