.m-minischedule__header {
  padding: 0.5rem 1rem;
}

.m-minischedule__header-label {
  @include font-label;
  margin-right: 1rem;
}

.m-minischedule__run-header {
  background-color: $color-bg-light;
  padding: 0.5rem 1rem;
}

.m-minischedule__row {
  border-top: 1px solid $color-component-light;
  display: flex;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-top: 0.5rem;

  &.m-minischedule__layover-row {
    border-top-style: none;
    padding-top: 0;
    padding-bottom: 0.25rem;

    .m-minischedule__left-text,
    .m-minischedule__right-text {
      border-top: 1px solid $color-component-light;
      padding-top: 0.25rem;
    }
  }
}

.m-minischedule__icon {
  border-radius: 50%;
  flex: 0 0 auto;
  height: 1rem;
  margin-right: 0.5rem;
  padding: 0.25rem;
  width: 1rem;
  z-index: 2;

  &:not(:empty) {
    background-color: $color-primary;
  }

  svg {
    fill: $color-secondary-medium;
  }
}

.m-minischedule__left-text {
  flex: 1 1 auto;
}

.m-minischedule__right-text {
  flex: 0 0 auto;
  padding-right: 1rem;
}

.m-minischedule__piece-rows {
  // this is all about drawing the line through the icons on the left
  .m-minischedule__row {
    position: relative;

    &::before,
    &::after {
      background-color: $color-primary;
      position: absolute;
      width: 0.5rem;
      left: 1rem;
    }
  }

  .m-minischedule__row:not(:first-child) {
    &::before {
      bottom: 50%;
      content: "";
      top: 0;
    }
  }

  .m-minischedule__row:not(:last-child) {
    &::after {
      bottom: 0;
      content: "";
      top: 50%;
    }
  }
}

.m-minischedule__row--current {
  &.early {
    background-color: $color-vehicle-early;
  }

  &.ghost {
    background-color: $color-secondary-medium;
  }

  &.late {
    background-color: $color-vehicle-late;
  }

  &.on-time {
    background-color: $color-vehicle-ontime;
  }
}
