.c-modal {
  @include modal-content;
  left: 50%;
  max-width: 75vw;
  padding: 1.5rem;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 23.5rem;
  z-index: 2001;
}

.c-modal-backdrop {
  @include modal-backdrop;
  z-index: 2000;
}

.c-modal-fullscreen {
  z-index: 2001;
}

.c-modal-fullscreen-body {
  padding: 0px;
}
