.m-nav--wide {
  display: grid;
  gap: 0;
  grid-template-columns: max-content minmax(0, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "left content";
  width: 100%;
  height: 100%;
}

.m-nav__nav-bar {
  z-index: 700;
}

.m-nav__nav-bar--left {
  grid-area: left;
}

.m-nav__app-content {
  grid-area: content;
}
