.m-notification-bell-icon--open {
  path {
    fill: $color-secondary-dark;
  }
}

.m-notification-bell-icon--closed {
  path {
    fill: $color-secondary-light;
  }
}

.m-notification-bell-icon--read {
  circle {
    display: none;
  }
}

.m-notification-bell-icon--unread {
  circle {
    fill: $color-component-red;
  }
}
