.m-notification-drawer {
  @include modal-content;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  top: 0;
  width: 23.5rem;
  z-index: 1001;

  @media screen and (max-width: $mobile-max-width) {
    width: 100vw;

    .m-nav__app-content & {
      width: 100%;
    }
  }
}

.m-notification-drawer__title-bar {
  background-color: $color-primary;
  color: $color-font-light;
  display: flex;
  justify-content: space-between;
  position: sticky;
  position: -webkit-sticky;
  // top: -1px prevents a visual glitch in Chrome desktop, where a sliver of
  // the content that should be obscured by the title bar is visible above it
  top: -1px;
  z-index: 1002;

  .m-notification-bell-icon {
    flex: 0 1 auto;
    margin: 1rem;
    width: 1.5rem;
  }

  .m-notification-drawer__title {
    @include font-header;
    flex: 0 1 auto;
    margin: 1rem;
  }

  .m-close-button {
    flex: 0 1 auto;
    padding: 1rem;
  }
}

.m-notification-drawer__content {
  padding: 1rem;
}

.m-notification-drawer__cards {
  ul li {
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}

.m-notification-drawer__mark-all-read-button {
  color: $color-secondary-dark;
  cursor: pointer;
  position: absolute;
  right: 0;

  &:hover {
    font-weight: 700;
  }
}

.m-notification-drawer__n-unread {
  color: $color-component-medium;
  text-transform: uppercase;
}

.m-notification-drawer__header {
  margin-bottom: 0.5rem;
  position: relative;
}
