.m-notification-drawer {
  @include modal-content;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  top: 0;
  width: 23.5rem;
  z-index: 1001;

  @media screen and (max-width: $mobile-max-width) {
    width: 100vw;
  }
}

.m-notification-drawer__title-bar {
  background-color: $color-primary;
  color: $color-font-light;
  display: flex;
  justify-content: space-between;
  position: sticky;
  position: -webkit-sticky;
  // top: -1px prevents a visual glitch in Chrome desktop, where a sliver of
  // the content that should be obscured by the title bar is visible above it
  top: -1px;
  z-index: 1002;

  .m-notification-bell-icon {
    flex: 0 1 auto;
    margin: 1rem;
    width: 1.5rem;
  }

  .m-notification-drawer__title {
    @include font-header;
    flex: 0 1 auto;
    margin: 1rem;
  }

  .m-close-button {
    flex: 0 1 auto;
    padding: 1rem;
  }
}

.m-notification-drawer__content {
  padding: 1rem;
}

.m-notification-drawer__card {
  border-radius: 4px;
  margin-bottom: 0.5rem;
  position: relative;
  text-align: left;
  width: 100%;

  &:hover {
    background-color: $color-secondary-medium;
  }
}

.m-notification-drawer__card--read {
  background-color: $white;
  box-shadow: $subtle-box-shadow;
}

.m-notification-drawer__card--unread {
  background-color: $color-secondary-light;
  border: 1px solid $color-secondary-dark;
  box-shadow: $box-shadow-secondary;
}

.m-notification-drawer__mark-all-read-button {
  color: $color-secondary-dark;
  cursor: pointer;
  position: absolute;
  right: 0;

  &:hover {
    font-weight: 700;
  }
}

.m-notification-drawer__n-unread {
  color: $color-component-medium;
  text-transform: uppercase;
}

.m-notification-drawer__header {
  margin-bottom: 0.5rem;
  position: relative;
}

.m-notification-drawer__submenu {
  background-color: $white;
  border-radius: 4px;
  bottom: 1.5rem;
  box-shadow: $submenu-box-shadow;
  padding: 1rem 2rem 1rem 1rem;
  position: absolute;
  right: 1rem;
  text-align: left;
  z-index: 1000;

  a {
    color: $color-secondary-dark;

    &:hover {
      font-weight: 700;
    }
  }
}

.m-notification-drawer__submenu-icon {
  bottom: 0.5rem;
  position: absolute;
  right: 1rem;

  // expand the clickable area of the ellipsis icon
  &::after {
    content: "";
    position: absolute;
    top: -0.5rem;
    bottom: -0.5rem;
    left: -1rem;
    right: -1rem;
  }

  svg {
    fill: $color-component-medium;
    height: 1rem;
    width: 1rem;
  }
}
