.m-notification-drawer {
  @include modal-content;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  top: 0;
  width: 23.5rem;
  z-index: 1001;

  @media screen and (max-width: $mobile-max-width) {
    width: 100%;
  }
  @media screen and (max-width: $mobile-max-width) {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow-y: scroll;
  }
}

.m-notification-drawer__content {
  padding: 1rem;
}

.m-notification-drawer__cards {
  & > ul > li {
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}

.m-notification-drawer__mark-all-read-button {
  color: $color-secondary-dark;
  cursor: pointer;
  position: absolute;
  right: 0;

  &:hover {
    font-weight: 700;
  }
}

.m-notification-drawer__n-unread {
  color: $color-component-medium;
  text-transform: uppercase;
}

.m-notification-drawer__header {
  margin-bottom: 0.5rem;
  position: relative;
}
