.c-page {
  @include page;
  background: $color-bg-medium;
}

.c-page__container {
  background: $color-bg-light;
  padding: 2rem;
  max-width: 30rem;
}

.c-page__title {
  @include font-header;
  text-align: center;
}

.c-page__section {
  background-color: $white;
  border-radius: 8px;
  box-shadow: $subtle-box-shadow;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
}

.c-page__header {
  @include font-emph;
  font-weight: bold;
}

.c-page__link {
  @include button-primary;
  display: block;
  text-align: center;
}

.c-page__select {
  background-color: $color-bg-base;
  height: 2rem;
  margin-bottom: 0.7rem;
  padding-left: 0.4rem;
  width: 28rem;
}
