.c-page {
  height: 100%;
  overflow: scroll;
}

.c-page__container {
  background: $color-bg-light;
  box-sizing: border-box;
  max-width: 34rem;
  min-height: 100%;
  padding: 2rem;
}

.c-page__title {
  @include font-header;
  text-align: center;
}

.c-page__section {
  background-color: $white;
  border-radius: 8px;
  box-shadow: $subtle-box-shadow;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
}

.c-page__header {
  @include font-emph;
  font-weight: bold;
}
