.c-page {
  @include page;
  background: $color-bg-medium;
}

.c-page__container {
  background: $color-bg-light;
  padding: 2rem;
  max-width: 30rem;
  min-height: 100vh;
}

.c-page__title {
  @include font-header;
  text-align: center;
}

.c-page__section {
  background-color: $white;
  border-radius: 8px;
  box-shadow: $subtle-box-shadow;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
}

.c-page__header {
  @include font-emph;
  font-weight: bold;
}

.c-page__section-row {
  display: flex;
  align-items: baseline;
}

.c-page__section-row-icon {
  align-self: normal;
  margin: 0.2rem 0.5rem 0 0;
}

.c-page__section-row-icon-path {
  fill: $color-primary;
}

.c-page__section-row-label {
  @include font-body;
  flex: 1 0 auto;
  margin-right: 2rem;
}

.c-page__link {
  @include button-primary;
  display: block;
  text-align: center;
}

.c-page__select {
  background-color: $color-bg-base;
  height: 2rem;
  margin-bottom: 0.7rem;
  min-width: 9.5rem;
  padding-left: 0.4rem;
}
