.m-picker-container {
  $default-width: 7.5rem;
  $shuttle-width: $default-width + 2.5;

  background-color: $color-bg-medium;
  display: flex;
  flex-direction: column;
  height: 100%;
  // Required for pinning to the left side of the screen on the tablets
  left: $tab-bar-width;
  padding: 1rem;
  position: fixed;
  top: inherit;
  transition: left 0.2s ease-in-out;
  width: $default-width;
  z-index: 1;

  &--wide {
    width: $shuttle-width;
  }

  &.visible {
    left: $tab-bar-width;
  }

  &.hidden {
    left: -($default-width + 2);
  }

  &--wide.hidden {
    left: -($shuttle-width + 2);
  }
}

.m-picker-container__tab {
  background-color: $color-bg-medium;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  left: 9.5rem;
  padding: 1.5rem 0.3rem;
  position: absolute;
  top: 1.625rem;
  width: fit-content;

  .m-picker-container--wide & {
    left: 12rem;
  }
}

.m-picker-container__tab-button {
  @include button-icon(0.9rem);
  font-size: 2rem;
  line-height: 1.5rem;
  margin: 0;
  padding: 0 0.375rem 0.5rem;
}
