.m-picker-container {
  background-color: $color-bg-medium;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  // Required for pinning to the left side of the screen on the tablets
  left: 0;
  padding: 1rem;
  position: absolute;
  top: inherit;
  transition: $transition-slide;
  width: $picker-width-narrow;
  z-index: 1;

  &--wide {
    width: $picker-width-wide;
  }

  &.visible {
    left: 0;
  }

  &.hidden {
    left: -$picker-width-narrow;
  }

  &--wide.hidden {
    left: -$picker-width-wide;
  }
}

.m-picker-container--narrow .c-drawer-tab {
  left: $picker-width-narrow;
}

.m-picker-container--wide .c-drawer-tab {
  left: $picker-width-wide;
}
