.m-picker-container {
  background-color: $color-bg-medium;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  // Required for pinning to the left side of the screen on the tablets
  left: 0;
  padding: 1rem;
  position: absolute;
  top: inherit;
  transition: $transition-slide;
  width: $picker-width-narrow;
  z-index: 1;

  &--wide {
    width: $picker-width-wide;
  }

  &.visible {
    left: 0;
  }

  &.hidden {
    left: -$picker-width-narrow;
  }

  &--wide.hidden {
    left: -$picker-width-wide;
  }
}

.m-picker-container__tab {
  background-color: $color-bg-medium;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  left: $picker-width-narrow;
  position: absolute;
  top: 1.625rem;
  width: fit-content;

  .m-picker-container--wide & {
    left: $picker-width-wide;
  }
}

.m-picker-container__tab-button {
  @include button-transparent;
  @include button-icon(0.9rem);
  font-size: 2rem;
  line-height: 1.5rem;
  margin: 0;
  padding: 1.5rem 0.675rem 2rem;
}
