.m-properties-list {
  padding: 1rem;
}

.m-properties-list__table {
  border-spacing: 0;

  td {
    padding-bottom: 0.3rem;
  }
}

.m-properties-list__property-label {
  @include font-label;
  margin-bottom: 0.5rem;
  text-align: left;
  width: 6rem;
}

.m-properties-list__property-value {
  @include font-body;
  margin-bottom: 1rem;

  .highlighted {
    background-color: $color-secondary-light;
  }

  .m-properties-list__property--last-login & {
    color: $color-font-grey;
    font-size: 0.75rem;

    .m-search-results__card--new & {
      color: $color-secondary-dark;
    }
  }
}
