.m-properties-panel {
  @include modal-content;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  top: 0;
  width: 23.5rem;
  z-index: 1001;
}

.m-properties-panel .m-properties-list {
  border-top: 1px solid $color-rule;
}

.m-properties-panel__modal-overlay {
  @include modal-overlay;
  position: absolute;
  z-index: 1000;
}
