.m-recent-searches {
  flex: 1 1 auto;
  width: 100%;

  ul {
    margin-top: 0.875rem;
    margin-bottom: 0;

    li:not(:last-child) {
      margin-bottom: 0.75rem;
    }
  }
}

.m-recent-searches__heading {
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  color: var(--font-color-on-light-800);
}

.m-recent-searches__button {
  color: $color-eggplant-700;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-semi);
  padding: 0;
  text-decoration: none;

  &:hover {
    color: $color-eggplant-500;
  }

  &:focus {
    color: $color-eggplant-500;
    border: 1px solid $color-eggplant-700;
    border-radius: 3px;
  }
}
