.m-route-picker {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  min-height: 0;
}

.m-route-picker__label {
  @include font-label();
}

.m-route-picker__routes-container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-template-areas: "all selected";
  gap: 1rem;
  min-height: 0;

  ul {
    min-height: 0;
    background-color: $white;
    border: 1px solid #b3b5bd;
    border-radius: 6px;
    margin: 0;
    padding: 0.5rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.m-route-picker__route-list {
  grid-area: all;
}

.m-route-picker__route-list-button {
  @include button-light;
  width: 100%;
}

.m-route-picker__selected-routes {
  grid-area: selected;
}

.m-route-picker__selected-routes-button {
  @include button-primary;
  width: 100%;
}
