.m-route-filter__type {
  @include font-emph;
  border-bottom: solid 1px $white;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  width: 100%;
}

.m-route-filter__text {
  position: relative;
}

.m-route-filter__input {
  width: 100%;
}

.m-route-filter__clear {
  @include button-transparent;
  @include button-icon(0.75rem);
  right: 0;
  padding: 0 0.375rem;
  position: absolute;
  top: 0.6rem;
}
