.m-route-filter__type {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  border-bottom: solid 1px $white;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: $dark;
  display: block;
  font-family: $font-family;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 0.875rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  text-transform: uppercase;
  width: 100%;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.m-route-filter__text {
  position: relative;
}

.m-route-filter__input {
  background-color: $white;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: $brownish-grey;
  line-height: 1rem;
  padding: 0.5rem 1rem 0.5rem 0.8125rem;
  width: 100%;

  &:focus {
    border: 2px solid $dark;
  }
}

.m-route-filter__clear {
  right: 0;
  padding: 0 0.375rem;
  position: absolute;
  top: 0.6rem;
}

.m-route-filter__clear-icon {
  display: inline-block;
  height: 0.75rem;
  width: 0.75rem;

  svg {
    stroke: $dark;
    fill: $dark;
  }
}
