.m-route-properties-card {
  width: 375px;
}

.m-route-properties-card .m-card__title {
  display: flex;
  flex-direction: row;
  align-items: start;
  padding: 0.5rem 0.5rem;
  justify-content: space-between;
  margin: 0;
}

.m-route-properties-card .route-title {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  & h2 {
    font-size: 1.125rem;
    margin: 0px;
  }
  & .route-title__description {
    font-size: var(--font-size-s);
    color: $color-gray-700;
    font-weight: var(--font-weight-reg);
  }
}

.m-route-properties-card .m-card,
.m-route-properties-card .m-card__left {
  padding-left: 0;
  padding-right: 0;
}

.m-route-properties-card .m-route-properties-card__direction-picker {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  margin: 0rem 1rem 1rem 1rem;
  gap: 4px;
  background-color: $color-gray-100;
  border-radius: 0.5rem;
  height: 44px;

  & input[type="radio"] {
    display: none;
  }
  & .direction-button {
    display: flex;
    align-items: center;
    flex: 1;
    height: 36px;
    cursor: pointer;
    color: $color-gray-600;
  }
  & .direction-button.selected {
    color: $color-gray-900;

    font-weight: var(--font-weight-semi);
    border-radius: 6px;
    border-color: $color-gray-500;
    border-width: 6px;
    background-color: $white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
  }

  & label {
    flex: 1;

    font-size: 1rem;
    text-align: center;
    cursor: pointer;
  }
}

.m-route-properties-card__details-section {
  .details-section-summary {
    font-size: var(--font-size-sm);
    text-decoration: underline;
    color: $color-eggplant-700;
    padding: 0rem 1rem;
  }
  .details-section-summary.open {
    font-weight: var(--font-weight-semi);
  }
}

.m-route-properties-card__details-section.variant-picker fieldset {
  border: none;
  padding: 0rem;
  margin: 0rem;
}

.m-route-properties-card__variant-picker-variant label {
  font-size: var(--font-size-s);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
}

.m-route-properties-card__variant-picker-variant:hover {
  background-color: $color-eggplant-100;
}

.m-route-properties-card__variant-picker-variant > * {
  cursor: pointer;
}

.m-route-properties-card__variant-picker-variant.selected {
  background-color: $color-eggplant-100;
  color: $color-eggplant-800;
  & .m-route-properties-card__variant-picker-description {
    color: $color-eggplant-700;
  }
}

.m-route-properties-card__variant-picker-variant input[type="radio"] {
  display: none;
}

.m-route-properties-card__variant-picker-variant .variant-check {
  vertical-align: middle;
  fill: $color-eggplant-800;
  width: 16px;
  height: 16px;
}

.m-route-properties-card__variant-picker-variant:not(.selected) .variant-check {
  visibility: hidden;
}

.m-route-properties-card__variant-picker-name {
  font-weight: var(--font-weight-semi);
}

.m-route-properties-card__variant-picker-description {
  font-size: var(--font-size-xs);
  color: $color-gray-700;
}

.m-route-properties-card hr {
  height: 1px;
  background-color: $color-gray-400;
  border: none;
}
.m-route-properties-card .variant-stop-list ol {
  max-height: 490px;
  overflow: scroll;
  & li {
    margin-left: 1rem;
  }
}
