.m-route-ladder__header-and-controls {
  grid-column: span 1;
  grid-row: 1 / 2;
  margin: 0 0.5rem;
}

.m-route-ladder__header {
  @include font-header;
  background-color: $color-primary;
  border-radius: 4px;
  color: $color-font-light;
  padding: 0.4rem 0;
  position: relative;
  text-align: center;

  .m-close-button {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
  }
}

.m-route-ladder__controls {
  display: flex;
}

.m-route-ladder__reverse {
  @include font-small;
  @include button-icon(0.625rem);
  margin-top: 0.5rem;
}

.m-route-ladder__reverse-icon {
  margin-right: 0.25rem;
}
