.m-route-picker {
  background-color: $light-periwinkle;
  display: flex;
  flex-direction: column;
  height: 100%;
  // Required for pinning to the left side of the screen on the tablets
  left: inherit;
  padding: 1rem;
  position: fixed;
  top: inherit;
  transition: left 0.2s ease-in-out;
  width: 7.5rem;
  z-index: 1;

  &.visible {
    left: 0;
  }

  &.hidden {
    left: -9.5rem;
  }
}

.m-route-picker__tab {
  background-color: $light-periwinkle;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  left: 9.5rem;
  padding: 1.5rem 0.3rem;
  position: absolute;
  top: 1.625rem;
  width: fit-content;
}

.m-route-picker__tab-button {
  background-color: transparent;
  border: none;
  color: $dark;
  font-family: $font-family;
  font-size: 2rem;
  margin: 0;
  padding: 0 0.375rem;
}

.m-route-picker__selected-routes {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  margin-top: 0;
  min-height: 2rem;
}

.m-route-picker__route-list {
  overflow-y: scroll;
}

.m-route-picker__selected-routes-button,
.m-route-picker__route-list-button {
  border: none;
  border-radius: 4px;
  color: $dark;
  font-family: $font-family;
  font-size: 0.8125rem;
  font-weight: bold;
  padding: 0.3125rem;
}

.m-route-picker__selected-routes-button {
  background-color: $sunflower;
  margin-bottom: 0.25rem;
  margin-right: 0.25rem;
  min-width: 2rem;
}

.m-route-picker__route-list-button {
  background-color: transparentize($color: $white, $amount: 0.5);
  margin-bottom: 0.25rem;
  width: 100%;
  word-break: break-word;

  &--selected {
    background-color: $sunflower;
  }
}
