.m-route-ladder {
  margin: 0 0.5rem;
  width: 12em;
}

.m-route-ladder__header {
  background-color: $sunflower;
  border-radius: 4px;
  font-size: 1.25rem;
  font-weight: bolder;
  margin-bottom: 2rem;
  padding: 0.4rem 0;
  position: relative;
  text-align: center;
}

.m-route-ladder__close {
  background: none;
  border: none;
  color: $dark;
  cursor: pointer;
  font-size: 1rem;
  padding: 0;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.m-route-ladder__close-icon {
  display: inline-block;
  height: 0.625rem;
  width: 0.625rem;

  svg {
    stroke: $dark;
    fill: $dark;
  }
}

.m-route-ladder__timepoints {
  list-style-type: none;
  padding: 0;
}

.m-route-ladder__timepoint {
  display: flex;
  justify-content: center;
  margin-top: -3px;

  &:last-of-type {
    svg line {
      display: none;
    }
  }
}

.m-route-ladder__stop {
  line-height: 0;

  svg {
    circle {
      fill: $white;
      stroke: $light-periwinkle;
      stroke-width: 1;
    }

    line {
      fill: none;
      stroke: $light-periwinkle;
      stroke-width: 8;
    }
  }
}

.m-route-ladder__timepoint-name {
  color: $blue-grey;
  font-size: 0.75rem;
  font-weight: bold;
  min-width: 3.3rem;
  text-align: center;
  text-transform: uppercase;
}
