.c-route-ladder__header,
.c-new-route-ladder__header,
.c-route-ladder__controls {
  margin: 0 0.5rem;
}

.c-route-ladder__header {
  @include font-header;
  background-color: $color-primary-legacy;
  border-radius: 4px;
  color: $color-font-light;
  grid-row-start: c-route-ladder__header;
  padding: 0.4rem 0;
  position: relative;
  text-align: center;

  .c-route-ladder__close-button-container {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0.1875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .c-route-ladder__alert-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0.375rem;

    height: 100%;
    width: 1.6rem;

    cursor: pointer;

    svg {
      height: 1.6rem;
      width: 1.6rem;
    }
  }
}

.c-new-route-ladder__header {
  min-width: max-content;

  .card-body {
    display: inline-grid;
    padding: 0;
    align-items: center;
  }

  .c-route-ladder__dropdown-button {
    height: 36px;
    width: 36px;
    margin: 6px 8px;
  }

  .c-route-ladder__dropdown .dropdown-item {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
  }

  .c-route-ladder__dropdown-item__icon {
    margin-right: 6px;
  }

  .c-route-ladder__alert-icon {
    display: grid;
    align-items: center;
    width: 1.6rem;
    margin-right: 0.5rem;

    cursor: pointer;

    svg {
      height: 1.6rem;
      width: 1.6rem;
    }
  }

  .c-route-ladder__route-pill {
    grid-column: 3/4;
    justify-self: center;
  }

  .c-route-ladder__close-button-container {
    grid-column: 5/6;
    margin-right: 8px;
    margin-left: auto;
  }
}

.c-route-ladder__controls {
  display: flex;
  grid-row-start: c-route-ladder__controls;
  justify-content: space-between;
}

.c-route-ladder__reverse,
.c-route-ladder__crowding-toggle {
  @include font-small;
  @include button-transparent;
  @include button-icon(0.625rem);
  flex: 0 1 auto;
  margin-top: 0.5rem;

  span {
    display: inline-flex;
  }
}

.c-route-ladder__reverse-icon,
.c-route-ladder__crowding-toggle-icon {
  margin-right: 0.25rem;
}

.c-route-ladder__crowding-toggle {
  &--hide {
    circle,
    path {
      fill: $color-secondary-dark;
      stroke: $color-secondary-dark;
    }
  }

  &--show {
    circle,
    path {
      fill: currentColor;
      stroke: currentColor;
    }
  }
}
