.c-route-filter__text {
  position: relative;
  display: flex;
  flex-direction: column;
}

.c-route-filter__input {
  @include font-small;
  line-height: 1;
  border: 1px solid $color-gray-400;
  border-radius: 6px;
  padding: 0.625rem 1rem;
  color: $color-gray-700;
  font-weight: 400;

  &::placeholder {
    opacity: 1;
    color: $color-gray-600;
  }

  &:hover {
    border: 1px solid $color-eggplant-400;
  }

  &:focus {
    border: 1px solid $color-eggplant-500;
    box-shadow: 0px 0px 0px 2px rgba(170, 78, 242, 0.17);
    color: $color-gray-800;

    &::placeholder {
      color: $color-gray-700;
    }
  }
}

.c-route-filter__clear {
  @include button-transparent;
  @include button-icon(0.875rem);
  position: absolute;
  display: flex;
  right: 1rem;
  top: 0.6875rem;
  width: 0.875rem;
  height: 0.875rem;
  color: $color-gray-600;

  &:hover {
    color: $color-gray-400;
  }

  &:focus-within {
    color: $color-gray-700;
  }
}
