.c-route-ladder__header,
.c-new-route-ladder__header,
.c-route-ladder__controls {
  margin: 0 0.5rem;
}

.c-route-ladder__header {
  @include font-header;
  background-color: $color-primary-legacy;
  border-radius: 4px;
  color: $color-font-light;
  grid-row-start: c-route-ladder__header;
  padding: 0.4rem 0;
  position: relative;
  text-align: center;

  .c-route-ladder__close-button-container {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0.1875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .c-route-ladder__alert-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0.375rem;

    height: 100%;
    width: 1.6rem;

    cursor: pointer;

    svg {
      height: 1.6rem;
      width: 1.6rem;
    }
  }
}

.c-new-route-ladder__header {
  min-width: max-content;

  .card-body {
    display: inline-grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 6px 8px;
  }

  .c-route-ladder__header__action-container {
    display: inline-flex;
    .dropdown,
    .c-route-ladder__alert-icon {
      padding-right: 0.5rem;
    }
  }

  .c-route-ladder__dropdown-button {
    height: 2.25rem;
    width: 2.25rem;
    // TODO All of this is bad and should be reverted when we fix the left nav button colors
    &.btn-primary {
      --bs-btn-bg: #451b83;
      --bs-btn-border-color: #451b83;
      --bs-btn-hover-bg: #260f54;
      --bs-btn-hover-border-color: #260f54;
      --bs-btn-active-bg: #260f54;
      --bs-btn-active-border-color: #260f54;
    }
  }

  .c-route-ladder__alert-icon {
    display: flex;
    align-items: center;
    width: 1.6rem;

    cursor: pointer;

    svg {
      height: 1.6rem;
      width: 1.6rem;
    }
  }

  .c-route-ladder__route-pill {
    grid-column: 2/3;
  }

  .c-route-ladder__close-button-container {
    grid-column: 3/4;
    margin: 2px 0 2px auto;
  }
}

.c-route-ladder__controls {
  display: flex;
  grid-row-start: c-route-ladder__controls;
  justify-content: space-between;
}

.c-route-ladder__reverse,
.c-route-ladder__crowding-toggle {
  @include font-small;
  @include button-transparent;
  @include button-icon(0.625rem);
  flex: 0 1 auto;
  margin-top: 0.5rem;

  span {
    display: inline-flex;
  }
}

.c-route-ladder__reverse-icon,
.c-route-ladder__crowding-toggle-icon {
  margin-right: 0.25rem;
}

.c-route-ladder__crowding-toggle {
  &--hide {
    circle,
    path {
      fill: $color-secondary-dark;
      stroke: $color-secondary-dark;
    }
  }

  &--show {
    circle,
    path {
      fill: currentColor;
      stroke: currentColor;
    }
  }
}
