.m-route-picker {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.m-route-picker__label {
  @include font-label();
}

.m-route-picker__selected-routes {
  display: flex;
  flex: 0 0 auto;
  flex-shrink: 0;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  margin-top: 0;
  min-height: 2rem;
}

.m-route-picker__selected-routes-button {
  @include button-primary;
  margin-bottom: 0.25rem;
  margin-right: 0.25rem;
  min-width: 2rem;
}

.m-route-picker__route-list {
  flex: 1 1 auto;
  overflow-y: scroll;
}

.m-route-picker__route-list-button {
  margin-bottom: 0.25rem;
  width: 100%;
  word-break: break-word;

  &--selected {
    @include button-primary;
  }

  &--unselected {
    @include button-light;
  }

  &--disabled {
    @include button-disabled;
  }

  &--with-count {
    align-items: stretch;
    display: flex;
    justify-content: start;
    padding: 0;
  }
}

.m-route-picker__route-list-button-name,
.m-route-picker__route-list-button-count {
  padding: 0.3125rem 0.5rem;
}

.m-route-picker__route-list-button-name {
  flex: 1 1 auto;
  text-align: left;
}

.m-route-picker__route-list-button-count {
  border-left: 1px solid $color-bg-medium;
  color: $color-font-grey;
  display: inline-block;
  flex: 0 0 auto;
  font-weight: normal;
  margin-left: 0.5rem;
  min-width: 0.5rem;
  padding-left: 0.3125rem;

  .m-route-picker__route-list-button--selected & {
    color: $color-font-light;
  }
}
