.m-route-ladder__header,
.m-route-ladder__controls {
  margin: 0 0.5rem;
}

.m-route-ladder__header {
  @include font-header;
  background-color: $color-primary;
  border-radius: 4px;
  color: $color-font-light;
  grid-row-start: m-route-ladder__header;
  padding: 0.4rem 0;
  position: relative;
  text-align: center;

  .m-route-ladder__close-button-container {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0.1875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.m-route-ladder__controls {
  display: flex;
  grid-row-start: m-route-ladder__controls;
  justify-content: space-between;
}

.m-route-ladder__reverse,
.m-route-ladder__crowding-toggle {
  @include font-small;
  @include button-transparent;
  @include button-icon(0.625rem);
  flex: 0 1 auto;
  margin-top: 0.5rem;

  span {
    display: inline-flex;
  }
}

.m-route-ladder__reverse-icon,
.m-route-ladder__crowding-toggle-icon {
  margin-right: 0.25rem;
}

.m-route-ladder__crowding-toggle {
  &--hide {
    circle,
    path {
      fill: $color-secondary-dark;
      stroke: $color-secondary-dark;
    }
  }

  &--show {
    circle,
    path {
      fill: currentColor;
      stroke: currentColor;
    }
  }
}
