$search-page-search-panel-width: 22.0625rem;

.c-search-page {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  height: 100%;
  position: relative;
  overflow: visible;
}

.c-search-page__map {
  display: flex;
  flex: 1 1 auto;
  position: relative;
}

.c-search-page__input {
  padding: 0 1.5625rem;
}

.c-search-page__input-and-results {
  background-color: $color-gray-300;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 1rem;
  width: $search-page-search-panel-width;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  z-index: #{$max-leaflet-z-index + 100};

  padding: 1.25rem 0 0 0;

  transition: $transition-slide;

  hr {
    height: 1px;
    background-color: $color-gray-100;
    border: none;
    width: calc(100% - 2 * 1.5625rem);
    margin: 0 1.5625rem;
  }
}

.c-search-page__toggle-mobile-display-button {
  display: none;
  margin: 0.5rem auto 0;
}

.c-search-display {
  flex: 1 1 auto;
  overflow-y: scroll;
  padding: 0.625rem 1rem 0 1rem;
}

@media screen and (max-width: $mobile-max-width) {
  .c-search-page {
    flex-direction: column;
  }

  .c-search-page__input-and-results .c-drawer-tab {
    display: none;
  }

  .c-search-page--show-list {
    .c-search-page__input-and-results {
      flex: 1 1 auto;
      height: 100%;
    }

    .c-search-page__map {
      // Needs to be hidden instead of not displayed so the map still gets drawn properly
      position: fixed;
      top: 100vh;
    }
  }

  .c-search-page--show-map {
    .c-search-page__input-and-results {
      flex: 0 0 auto;
      height: auto;
    }

    .c-search-display {
      display: none;
    }
  }

  .c-search-page__input-and-results {
    box-sizing: border-box;
    width: 100%;
    position: relative;
  }

  .c-search-page__toggle-mobile-display-button {
    display: block;
  }

  .c-search-page__map {
    box-sizing: border-box;
    height: 75%;
    width: 100%;
  }
}

$search-page-search-stub-size: 10px;

.c-search-page__input-and-results[hidden] + *::before {
  content: "";

  height: 100%;
  width: $search-page-search-stub-size;

  background-color: $color-gray-400;
}
