.m-search-page {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  height: 100%;
  position: relative;
  overflow: visible;
}

.m-search-page__input-and-results {
  background-color: $color-bg-base;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  width: 22rem;
}

.m-search-page__input,
.m-search-display {
  padding: 1.5rem 1.1875rem;
}

.m-search-page__input {
  border-bottom: 1px solid $white;
}

.m-search-page__toggle-mobile-display-button {
  @include button-text;
  display: none;
  font-size: 0.875rem;
  margin: 0.5rem auto 0;
}

.m-search-display {
  flex: 1 1 auto;
  overflow-y: scroll;
}

.m-search-page__map {
  flex: 1 1 auto;
  position: relative;
}

@media screen and (max-width: $mobile-max-width) {
  .m-search-page {
    flex-direction: column;
  }

  .m-search-page--show-list {
    .m-search-page__input-and-results {
      flex: 1 1 auto;
      height: 100%;
    }

    .m-search-page__map {
      // Needs to be hidden instead of not displayed so the map still gets drawn properly
      position: fixed;
      top: 100vh;
    }
  }

  .m-search-page--show-map {
    .m-search-page__input-and-results {
      flex: 0 0 auto;
      height: auto;
    }

    .m-search-display {
      display: none;
    }
  }

  .m-search-page__input-and-results {
    box-sizing: border-box;
    width: auto;
  }

  .m-search-page__toggle-mobile-display-button {
    display: block;
  }

  .m-search-page__map {
    box-sizing: border-box;
    height: 75%;
    width: 100%;
  }
}
