.m-search-results {
  @include font-body;
  flex: 1 1 auto;
}

.m-search-results__heading {
  @include font-label;
}

.m-search-results__clear-search-button {
  @include button-text;
}

.m-search-results__card {
  background-color: $white;
  border-radius: 4px;
  box-shadow: $subtle-box-shadow;
  cursor: pointer;
  margin-bottom: 1rem;
  padding: 1rem 1rem 0.5rem;

  &--selected,
  &:hover {
    background-color: $color-secondary-light;

    .highlighted {
      background-color: $color-secondary-medium;
    }
  }

  .m-properties-list {
    padding: 0;
  }
}

.m-search-results__card-route-label {
  color: $color-font-grey;
  font-size: 0.75rem;
  margin: 0.5rem 0;

  .m-route-variant-name__route-id {
    font-weight: bold;
  }
}

.m-search-results__list .m-search-results__note {
  color: $color-font-grey;
}
