.m-search-results {
  @include font-body;
}

.m-search-results__heading {
  @include font-label;
}

.m-search-results__clear-search-button {
  @include button-text;
}

.m-search-results__card {
  background-color: $white;
  border-radius: 4px;
  box-shadow: $subtle-box-shadow;
  cursor: pointer;
  margin-bottom: 1rem;
  padding: 1rem 1rem 0.5rem;
  position: relative;

  &--selected,
  &:hover {
    background-color: $color-secondary-light;

    .highlighted {
      background-color: $color-secondary-medium;
    }
  }

  &--new {
    border: 1px solid $color-secondary-dark;
  }

  .m-properties-list {
    padding: 0;
  }
}

.m-search-results__card-new-badge {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.m-search-results__card-new-badge-label {
  @include font-label;
  color: $color-secondary-dark;
}

.m-search-results__card-new-badge-icon {
  display: inline-block;
  fill: $color-secondary-dark;
  margin-left: 0.3rem;
  stroke: none;
  width: 9px;
}

.m-search-results__card-route-label {
  color: $color-font-grey;
  font-size: 0.75rem;
  margin: 0.5rem 0;

  .m-route-variant-name__route-id {
    font-weight: bold;
  }
}

.m-search-results__list .m-search-results__note {
  color: $color-font-grey;
}
