.m-settings-page__row {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.m-settings-page__icon {
  align-self: normal;
  flex: 0 1 auto;
  margin: 0.2rem 0.5rem 0 0;
}

.m-settings-page__icon-path {
  display: block;
  fill: $color-primary;
  width: 24px;
}

.m-settings-page__label {
  @include font-body;
  flex: 1 1 6rem;
}

.m-settings-page__select {
  background-color: $color-bg-base;
  flex: 1 0 6.5rem;
  height: 2rem;
  margin-bottom: 0.7rem;
  padding-left: 0.4rem;
}
