.c-settings-page__section-header {
  padding: 0.5rem 0rem 0.625rem 0rem;
  margin-top: 0;
  margin-bottom: 0;
  color: $color-gray-900;
  font-size: 1.25rem;
  font-weight: 600;
}

.c-settings-page__setting {
  padding: 0 0 1rem 0;
}

.c-settings-page__setting_header {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding: 0rem 0rem 0.5rem 0rem;
}

.c-settings-page__icon {
  align-self: normal;
  flex: 0 1 auto;
  margin: 0.2rem 0.5rem 0 0;
}

.c-settings-page__icon-path {
  display: block;
  fill: $color-primary-legacy;
  width: 13px;
}

.c-settings-page__setting-label {
  font-size: 1rem;
  flex: 1 1 6rem;
}

.c-settings-page__options-container {
  display: flex;
  justify-content: flex-start;
}

.c-settings-page__input {
  display: none;
}

.c-settings-page__option-label-selected {
  @include toggle-selected;
}

.c-settings-page__option-label-unselected {
  @include toggle-unselected;
}

.c-settings-page__vehicle-adherence-setting-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-settings-page__vehicle-adherence-icon {
  width: 1.5rem;
  height: 1.5rem;

  .red svg {
    fill: $color-vehicle-red;
  }

  .blue svg {
    fill: $color-vehicle-blue;
  }
}
