.c-shuttle-map {
  height: 100%;
  position: relative;
  transition: $transition-slide;

  .c-shuttle-picker-container {
    z-index: 620;
  }
}

.c-shuttle-map__map {
  height: 100%;
  position: absolute;
  width: 100%;

  .c-vehicle-map__label.selected .c-vehicle-icon__label-background {
    fill: $color-secondary-medium;
  }
}
