.m-street-view-button {
  /* Layout */
  /** Prevent the button from being inlined */
  display: block;
  /** Prevent the button from expanding to available space */
  width: fit-content;

  /* Element Decoration */
  background-color: black;
  border-radius: 0.5rem;
  padding: 0.25rem;

  /* Text Decoration */
  color: white;
  text-decoration: none;
  line-height: 1;
}

/* Override `.leaflet-container a` */
// REVIEWERS: Please Pick One
.leaflet-container .m-street-view-button {
  color: white;
}
