.m-swings-view {
  @include modal-content;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1001;

  .m-old-close-button {
    padding: 1.5rem;
    position: absolute;
    right: 0rem;
    top: 0rem;
  }

  // Full width on mobile portrait, to be updated with more responsive designs
  @media screen and (max-width: 480px) {
    .m-nav__app-content & {
      width: 100%;

      .m-swings-view__table {
        width: 100%;
      }
    }
  }
  @media screen and (max-width: $mobile-portrait-max-width) {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
  }
}

.m-swings-view__table-container {
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.m-swings-view__table {
  border-collapse: collapse;
  position: relative;
  white-space: nowrap;
  text-align: left;
}

.m-swings-view__table-header {
  @include font-small;
  font-weight: 700;
}

.m-swings-view__table-header-cell {
  padding-top: 0.5625rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 0rem;
  border-bottom: 1px solid #515459;
  vertical-align: top;
  text-align: right;
  background-color: $color-bg-base;
  position: sticky;
  position: -webkit-sticky;
  top: -1px;
  z-index: 1002;

  .m-swings-view__table-header-cell-subheaders {
    display: flex;
    justify-content: flex-end;

    .m-swings-view__table-header-cell-subheader {
      padding-top: 0.125rem;
      font-size: 0.6875rem;
      font-weight: 400;
    }

    .m-swings-view__table-header-cell-route-subheader {
      display: inline-block;
      padding-top: 0.125rem;
      padding-left: 1rem;
      font-size: 0.6875rem;
      font-weight: 400;
    }
  }

  &.m-swings-view__table-header-cell-swing-on {
    vertical-align: bottom;
  }

  &.m-swings-view__table-header-cell-swing-off {
    padding-left: 3.0625rem;
  }

  &:last-child {
    padding-right: 1.1875rem;
  }
}

.m-swings-view__table-row-active {
  color: $color-primary-dark;
  background-color: $white;
  font-weight: 600;
}

.m-swings-view__table-row-inactive {
  color: #515459;
  opacity: 0.84;
  font-weight: 400;
}

.m-swings-view__table-row-last-past {
  th {
    border-bottom: 1px solid #515459;
  }
}

.m-swings-view__table-cell {
  @include font-small;
  position: relative;
  border-bottom: 1px solid #dcdcdc;
  padding-top: 1rem;
  padding-bottom: 1.0625rem;
  font-size: 0.6875rem;
  font-variant-numeric: tabular-nums;
  text-align: right;

  &:last-child {
    padding-left: 1.0625rem;
    padding-right: 1.1875rem;
  }

  .m-swings-view__table-cell-contents {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
      text-decoration-line: underline;
    }
  }
}

.m-swings-view__show-past {
  font-size: 0.6875rem;
  font-weight: 400;
  color: $color-primary;
  padding-top: 0.6875rem;
  padding-bottom: 0.6875rem;

  &.m-swings-view__show-past-enabled {
    border-bottom: 1px solid #dcdcdc;
  }

  &.m-swings-view__show-past-disabled {
    border-bottom: 1px solid #515459;
  }
}

.m-swings-view__show-past-icon {
  width: 0.6rem;
  display: inline-block;
  padding-left: 0.5rem;
  padding-right: 0.375rem;

  svg {
    fill: $color-primary;
    stroke: $color-primary;
  }
}

.m-swings-view__route-pill {
  margin-left: 0.5rem;
  background: $color-primary-dark;
  border-radius: 4px;
  font-family: $font-family-route-pill;
  width: 1.625rem;
  height: 0.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.m-swings-view__route {
  color: $white;
  text-align: center;
}

.m-swings-view__run-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  &.m-swings-view__run-icon-arrow {
    padding-right: 0.375rem;
    stroke: $color-primary-dark;
    width: 0.5rem;
    height: 0.5rem;

    svg {
      width: 0.5rem;
      height: 0.5rem;
    }
  }

  &.m-swings-view__run-icon-ghost {
    padding-right: 0.375rem;
    width: 1.1875rem;
    height: 1.1875rem;

    svg {
      width: 1.1875rem;
      height: 1.1875rem;
    }
  }
}

@media screen and (max-width: $mobile-max-width) {
  .m-swings-view__header {
    padding-left: 1.75rem;
  }

  .m-swings-view__description {
    padding-left: 1.75rem;
  }

  .m-swings-view__table-container {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .m-swings-view__table-header-cell {
    &.m-swings-view__table-header-cell-swing-off {
      padding-left: 3rem;
    }

    &.m-swings-view__table-header-cell-swing-on {
      padding-left: 1.5625rem;
    }
  }
}
