.m-tab-bar {
  background-color: $color-primary;
  height: 100%;
  // Required for pinning to the left side of the screen on the tablets
  left: 0;
  position: absolute;
  top: inherit;
  transition: $transition-slide;
  width: $tab-bar-width;
  z-index: 2;

  &.visible {
    left: 0;
  }

  &.hidden {
    left: -$tab-bar-width;
  }
}

.m-tab-bar__logo {
  padding: 0.5rem 0.1rem 0;
  width: 100%;
}

.m-tab-bar__links {
  margin-block-start: 0;
}

.m-tab-bar__link {
  display: block;
  text-align: center;
  padding: 0.5rem 0.5rem 0.25rem 0.5rem;

  &--active {
    background: $color-secondary-light;
  }
}

.m-tab-bar__icon {
  display: block;
  fill: $color-secondary-light;
  margin: 0 auto;
  width: 24px;

  .m-tab-bar__link--active & {
    fill: $color-primary;
  }

  .m-tab-bar__swings & {
    stroke: $color-secondary-light;
  }

  .m-tab-bar__late_view & {
    stroke: $color-secondary-light;
  }

  .m-tab-bar__link--active.m-tab-bar__swings & {
    stroke: $color-primary;
  }

  .m-tab-bar__link--active.m-tab-bar__late_view & {
    stroke: $color-primary;
  }

  .m-tab-bar__logo &,
  .m-tab-bar__t-logo & {
    fill: $white;
  }
}

.m-tab-bar__bottom-buttons {
  bottom: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;

  button {
    padding: 0.5rem;
  }
}
