.m-tab-bar {
  background-color: $color-primary;
  display: flex;
  flex-direction: column;
  height: 100%;
  // Required for pinning to the left side of the screen on the tablets
  left: 0;
  position: fixed;
  top: inherit;
  transition: left 0.2s ease-in-out;
  width: $tab-bar-width;
  z-index: 2;

  &.visible {
    left: 0;
  }

  &.hidden {
    left: -$tab-bar-width;
  }
}

.m-tab-bar__links {
  margin-block-start: 0;
}

.m-tab-bar__logo,
.m-tab-bar__link {
  display: block;
  text-align: center;
}

.m-tab-bar__logo {
  padding: 0.5rem 0.1rem 0;
}

.m-tab-bar__link {
  padding: 0.5rem 0.5rem 0.25rem 0.5rem;

  &--active {
    background: $color-secondary-light;
  }
}

.m-tab-bar__icon {
  display: block;
  fill: $color-secondary-light;
  margin: 0 auto;
  width: 24px;

  .m-tab-bar__link--active & {
    fill: $color-primary;
  }

  .m-tab-bar__logo &,
  .m-tab-bar__t-logo & {
    fill: $color-vehicle-ghost;
  }
}

.m-tab-bar__t-logo {
  bottom: 0;
  padding: 0.5rem;
  position: fixed;
  width: $tab-bar-width - 1rem;
}
