// #region Vehicle Route Summary
// #region Layout
.m-vehicle-route-summary {
  display: grid;
  grid-template-rows: 3fr 8fr;
  grid-template-columns: min-content 1fr 6fr 12fr;
  grid-template-areas:
    "icon separator direction  adherence"
    "icon separator route-name route-name";

  align-items: start; // align element vertically within cell
  justify-items: start; // align element horizontally within the cell

  // #region element grid locations
  .m-vehicle-route-summary__icon {
    grid-area: icon;
  }

  .m-vehicle-route-summary__separator {
    grid-area: separator;
  }

  .c-schedule-adherence {
    grid-area: adherence;
  }

  .m-vehicle-route-direction {
    grid-area: direction;
  }

  .m-route-variant-name {
    grid-area: route-name;
  }
  // #endregion

  // #region Bespoke alignment within cells
  // adherence should stick to the right side of the card
  .c-schedule-adherence {
    justify-self: end;
  }

  .m-vehicle-route-summary__icon,
  .m-vehicle-route-summary__separator {
    justify-self: center;
    align-self: center;
  }

  // Adherence and direction should hug the top of the container
  .c-schedule-adherence,
  .m-vehicle-route-direction {
    line-height: 1;
  }
  // #endregion

  // #region component layout
  .c-schedule-adherence {
    & > * {
      display: inline-block;
    }
  }

  // route variant name should not move when text gets longer
  .m-route-variant-name {
    // Fill grid container
    height: 100%;
    width: 100%;

    --line-height: 1.5;
    line-height: var(--line-height);
    max-height: calc(var(--line-height) * 2em);

    text-overflow: ellipsis; // doesn't work on multiline text
    overflow: hidden;
  }

  .m-vehicle-route-summary__icon {
    max-height: 62px;
  }

  .m-vehicle-route-summary__separator {
    justify-self: center;
    align-self: center;
    height: 100%;
    background-color: $color-gray-300;
    width: 1px;
  }
}
// #endregion
// #endregion
