.m-vehicle-card {
  display: flex;
  background-color: white;
  border-radius: 1rem;
  border: 1px solid black;
  padding: 0.75rem;
}

.m-vehicle-card__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.m-vehicle-card__header-contents {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding-right: 0.5rem;
  font-size: 0.75rem;
}

.m-vehicle-card .m-route-variant-name {
  font-size: 1rem;
}

.m-vehicle-card__icon {
  padding-right: 0.5rem;
}

.m-vehicle-card__icon .m-vehicle-icon__label-background {
  fill: white;
}

.m-vehicle-card__icon .m-vehicle-icon--large .m-vehicle-icon__label {
  font-size: 0.75rem;
}

.m-street-view-button {
  background-color: black;
  color: white;
  padding: 0.25rem;
  border-radius: 0.5rem;
  text-decoration: none;
}
