.m-vehicle-map__label {
  svg {
    overflow: visible;
  }

  &.primary {
    @include font-emph;
  }

  &.secondary {
    @include font-tiny;
  }
}

.m-vehicle-map__icon {
  path {
    fill: $color-primary;
    stroke: $color-bg-base;
    stroke-width: 2;

    &.on-time {
      fill: $color-vehicle-ontime;
    }

    &.early.early-red {
      fill: $color-vehicle-red;
    }
    &.early.early-blue {
      fill: $color-vehicle-blue;
    }

    &.late.early-red {
      fill: $color-vehicle-blue;
    }
    &.late.early-blue {
      fill: $color-vehicle-red;
    }

    &.off-course {
      fill: $color-vehicle-off-course;
    }
  }

  svg {
    overflow: visible;
  }
}

.m-vehicle-properties-panel__location .m-vehicle-map .leaflet-right {
  padding-right: calc(env(safe-area-inset-right) - #{$vpp-location-padding});
}

.m-vehicle-map__train-icon {
  fill: $white;
  stroke: $color-component-dark;
  stroke-width: 4;
  width: 12px;
  height: 12px;

  svg {
    overflow: visible;
  }
}

.m-vehicle-map__route-shape:hover {
  stroke-opacity: 1;
}

.m-vehicle-map__stop {
  fill: $color-stop-fill;
  fill-opacity: 1;
  stroke: $color-stop-stroke;
  stroke-width: 1;
}

.m-vehicle-map__stop:focus {
  outline: 0;
}

.m-vehicle-map__recenter-button {
  path {
    fill: none;
    stroke: $color-button-secondary;
    stroke-width: 2;
  }

  .m-vehicle-map-state--auto-centering + .m-vehicle-map & a {
    background-color: $color-button-disabled;
    color: $color-font-grey;
    cursor: default;

    path {
      stroke: $color-font-grey;
    }
  }
}

.m-garage-icon__label {
  paint-order: stroke;
  stroke: white;
  font-weight: bold;
  stroke-width: 4px;
}
