.m-vehicle-icon__triangle {
  fill: $color-vehicle-normal;
  stroke: $color-bg-base;
  stroke-width: 2;

  .on-time & {
    fill: $color-vehicle-ontime;
  }
  .early.early-red & {
    fill: $color-vehicle-red;
  }
  .early.early-blue & {
    fill: $color-vehicle-blue;
  }
  .late.early-red & {
    fill: $color-vehicle-blue;
  }
  .late.early-blue & {
    fill: $color-vehicle-red;
  }
  .off-course & {
    fill: $color-vehicle-off-course;
  }
}

.m-vehicle-icon__ghost-highlight {
  fill: none;
  stroke: none;
  stroke-width: 9;
}

.m-vehicle-icon__ghost-body {
  fill: $color-vehicle-ghost;
  stroke: $color-vehicle-ghost-border;
  stroke-width: 3;
}

.m-vehicle-icon__ghost-eye {
  fill: $color-vehicle-ghost-border;
}

.m-vehicle-icon__label-background {
  fill: $color-bg-base;

  .m-vehicle-icon--highlighted & {
    fill: $color-component-highlight;
  }
}

.m-vehicle-icon__label {
  fill: currentColor;
}

.m-vehicle-icon__variant {
  fill: $color-font-light;

  .ghost & {
    fill: $color-vehicle-ghost-border;
  }
}

.m-vehicle-icon--small {
  .m-vehicle-icon__label {
    @include font-tiny;
  }

  .m-vehicle-icon__variant {
    @include font-tiny;
  }
}

.m-vehicle-icon--medium {
  .m-vehicle-icon__label {
    @include font-tiny;
  }

  .m-vehicle-icon__variant {
    @include font-small;
  }
}

.m-vehicle-icon--large {
  .m-vehicle-icon__label {
    @include font-header-big;

    &--extended {
      @include font-header-small;
    }
  }

  .m-vehicle-icon__variant {
    @include font-big;
  }
}
