.m-vehicle-map__label {
  svg {
    overflow: visible;
  }

  &.primary {
    @include font-emph;
  }

  &.secondary {
    @include font-tiny;
  }

  &.selected .m-vehicle-icon__label-background {
    fill: $color-eggplant-300;
  }
}

.m-vehicle-map__icon {
  path {
    fill: $color-primary;
    stroke: $color-bg-base;
    stroke-width: 2;

    &.on-time {
      fill: $color-vehicle-ontime;
    }

    &.early.early-red {
      fill: $color-vehicle-red;
    }
    &.early.early-blue {
      fill: $color-vehicle-blue;
    }

    &.late.early-red {
      fill: $color-vehicle-blue;
    }
    &.late.early-blue {
      fill: $color-vehicle-red;
    }

    &.off-course {
      fill: $color-vehicle-off-course;
    }

    &.selected {
      stroke: $color-eggplant-600;
      stroke-width: 1.5;
      filter: drop-shadow(1px 1px 4px $color-eggplant-400);
    }
  }

  svg {
    overflow: visible;
  }
}

.m-vehicle-properties-panel__location .m-vehicle-map .leaflet-right {
  padding-right: calc(env(safe-area-inset-right) - #{$vpp-location-padding});
}

.m-vehicle-map__train-icon {
  fill: $white;
  stroke: $color-component-dark;
  stroke-width: 4;
  width: 12px;
  height: 12px;

  svg {
    overflow: visible;
  }
}

.m-vehicle-map__route-shape {
  stroke: $color-kiwi-500;
  stroke-opacity: 0.5;
  stroke-width: 5;
}

.m-vehicle-map__route-shape:focus {
  outline: none;
}

.route-shape--rail {
  stroke-opacity: 1;
  stroke-width: 4;
}

.m-vehicle-map__route-shape.route-shape--blue {
  stroke: $color-mbta-blue;
}

.m-vehicle-map__route-shape.route-shape--green {
  stroke: $color-mbta-green;
}

.m-vehicle-map__route-shape.route-shape--orange {
  stroke: $color-mbta-orange;
}

.m-vehicle-map__route-shape.route-shape--red {
  stroke: $color-mbta-red;
}

.m-vehicle-map__route-shape:hover,
.m-vehicle-map__route-shape--selected {
  stroke-width: 7;
}

.m-vehicle-map__stop {
  fill: $color-stop-fill;
  fill-opacity: 1;

  stroke: $color-stop-stroke;
  stroke-width: 2px;

  &:hover {
    stroke-width: 4px;
  }

  &:focus {
    stroke-width: 4px;
    filter: drop-shadow(0 0 2px #514f55);
    outline: 0;
  }

  &.selected {
    stroke-width: 4px;

    fill: $color-eggplant-200;
    stroke: $color-eggplant-700;
  }
}

.leaflet-tooltip.m-vehicle-map__mobile-friendly-tooltip,
.leaflet-tooltip.route-shape__tooltip {
  background-color: $color-tooltip-background;
  color: $white;
  border-color: $color-tooltip-background;
  opacity: 1 !important;
}

.leaflet-popup.m-vehicle-map__mobile-friendly-tooltip .leaflet-popup-content {
  margin: 0px;
  background-color: $color-tooltip-background;
  opacity: 1 !important;
  text-align: center;
}

.leaflet-popup.m-vehicle-map__mobile-friendly-tooltip
  .leaflet-popup-content-wrapper {
  background-color: $color-tooltip-background;
  color: $white;
  padding: 0;
  box-shadow: none;
}

.leaflet-popup.m-vehicle-map__mobile-friendly-tooltip .leaflet-popup-content {
  font-size: 0.75rem;
  line-height: 1.5;
}

.leaflet-popup.m-vehicle-map__mobile-friendly-tooltip {
  margin-bottom: 6px !important;
}

// Hide popup pointer triangle - replaced by tooltip triangle
.leaflet-popup.m-vehicle-map__mobile-friendly-tooltip
  .leaflet-popup-tip-container {
  display: none;
}

// The tooltip triangle
.leaflet-tooltip-top.m-vehicle-map__mobile-friendly-tooltip::before,
.leaflet-tooltip-top.route-shape__tooltip::before {
  border-top-color: $color-tooltip-background;
}

// Adding .leaflet-control-container increases specificity to make sure we override
// base Leaflet control positioning
.leaflet-control-container .m-vehicle-map__street-view-control {
  position: absolute;
  // Leaflet uses px for positioning of their controls so we use px here to match
  top: 10px;
  right: 55px;

  padding: 0.5rem 0.5rem 0.5rem 1rem;

  background-color: $white;

  border: 1px solid $color-gray-400;
  border-radius: 7px;

  color: $color-eggplant-700;
  font-size: 1rem;
  line-height: 1.5rem;
  user-select: none;
  display: flex;

  label {
    span svg {
      height: 1rem;
      padding-right: 0.5rem;
      fill: currentColor;
    }

    padding-right: 0.5rem;
  }
}

.m-vehicle-map__recenter-button {
  path {
    fill: none;
    stroke: $color-button-secondary;
    stroke-width: 2;
  }

  .m-vehicle-map-state--auto-centering + .m-vehicle-map & a {
    background-color: $color-button-disabled;
    color: $color-font-grey;
    cursor: default;

    path {
      stroke: $color-font-grey;
    }
  }
}

.m-garage-icon__label {
  paint-order: stroke;
  stroke: white;
  stroke-width: 2px;
  font-family: $font-family;
  font-weight: 600;
  color: $color-gray-800;
}
