.m-vehicle-map__label {
  @include font-emph;

  svg {
    overflow: visible;
  }
}

.m-vehicle-map__icon {
  path {
    fill: $color-primary;

    &.on-time {
      fill: $color-vehicle-ontime;
    }

    &.early {
      fill: $color-vehicle-early;
    }

    &.late {
      fill: $color-vehicle-late;
    }

    &.off-course {
      fill: $color-vehicle-off-course;
    }
  }

  svg {
    overflow: visible;
  }
}

.m-vehicle-map__route-shape {
  stroke: $color-map-route-shape;
  stroke-width: 6px;

  &.selected {
    stroke: $color-map-route-shape-selected;
  }
}
