
// #region Vehicle Route Summary
// #region Layout
.m-vehicle-route-summary {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: min-content 1fr 6fr 12fr;
  grid-template-areas:
    "icon separator direction  adherence"
    "icon separator route-name route-name";

  align-items: center; // center element vertically within cell
  justify-items: start; // align element horizontally within the cell

  // assign element grid locations
  .m-vehicle-route-summary__icon {
    grid-area: icon;
  }

  .m-vehicle-route-summary__separator {
    grid-area: separator;
  }

  .m-schedule-adherence {
    grid-area: adherence;
  }

  .m-vehicle-route-direction {
    grid-area: direction;
  }

  .m-route-variant-name {
    grid-area: route-name;
  }

  // Bespoke alignment within cells
  // adherence sticks to the right side of the card
  .m-schedule-adherence {
    justify-self: end;
  }

  .m-schedule-adherence * {
    display: inline-block;
  }

  .m-vehicle-route-summary__separator {
    justify-self: center;
    align-self: center;
  }

  // route variant name should not move when text gets longer
  // so also align
  .m-route-variant-name {
    align-self: start;

    line-height: 1.25;
    max-height: calc(1.25em * 2);

    text-overflow: ellipsis; // doesn't work on multiline text
    overflow: hidden;
  }

  .m-vehicle-route-summary__icon {
    max-height: 62px;
  }

  .m-vehicle-route-summary__separator {
    justify-self: center;
    align-self: center;
    height: 80%;
    background-color: $color-gray-300;
    width: 1px;
  }
}
// #endregion

// #endregion

