.m-vehicle-properties-panel {
  background-color: $pale-grey;
  height: 100%;
  max-width: 100%;
  position: fixed;
  right: 0;
  top: inherit;
  width: 23.5rem;
  z-index: 1001;
}

.m-vehicle-properties-panel__header {
  display: flex;
}

.m-vehicle-properties-panel__label {
  flex: 0 0 auto;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
  width: 4rem;
}

.m-vehicle-properties-panel__variant {
  border-left: 1px solid $light-periwinkle;
  flex: 1 1 auto;
  font-size: 1.25rem;
  padding: 1rem;
}

.m-vehicle-properties-panel__inbound-outbound {
  color: $dark;
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
  text-transform: uppercase;
}

.m-vehicle-properties-panel__variant-name {
  font-weight: bold;
}

.m-vehicle-properties-panel__header > button {
  flex: 0 0 auto;
  padding: 1rem;
}

.m-vehicle-properties-panel__vehicle-properties {
  border-top: 1px solid $light-periwinkle;
  padding: 1rem;
  width: 100%;
}

.m-vehicle-properties-panel__vehicle-property-label {
  color: $blue-grey;
  font-size: 0.75rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
  text-align: left;
  text-transform: uppercase;
  width: 6rem;
}

.m-vehicle-properties-panel__vehicle-property-value {
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

.m-vehicle-properties-panel__location {
  border-top: 1px solid $light-periwinkle;
  padding: 1rem;
}

.m-vehicle-properties-panel__link {
  color: $light-blue;
  font-size: 0.875rem;
  font-weight: 500;
  text-decoration: none;
}

.m-vehicle-properties-panel__close {
  background-color: $light-periwinkle;
  border-radius: 4px;
  display: block;
  margin: 1rem;
  padding: 0.5rem 3rem;
  width: calc(100% - 2rem);
}

.m-vehicle-properties-panel__modal-overlay {
  background-color: transparentize($dark, 0.8);
  height: 100%;
  left: inherit;
  position: fixed;
  top: inherit;
  width: 100%;
  z-index: 1000;
}
