.m-vehicle-properties-panel {
  background-color: $pale-grey;
  height: 100%;
  max-width: 100%;
  padding: 1rem;
  position: fixed;
  right: 0;
  top: inherit;
  width: 23.5rem;
  z-index: 1001;
}

.m-vehicle-properties-panel__header {
  display: flex;
  justify-content: flex-end;
}

.m-vehicle-properties-panel__title {
  flex: 1 1 auto;
  text-align: center;
}

dl.m-vehicle-properties-panel__vehicle-properties {
  margin-bottom: 2rem;
}

.m-vehicle-properties-panel__vehicle-property {
  display: flex;
}

.m-vehicle-properties-panel__vehicle-property-label,
.m-vehicle-properties-panel__vehicle-property-value {
  width: 50%;
}

.m-vehicle-properties-panel__vehicle-property-label {
  font-size: 0.8125rem;
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
}

.m-vehicle-properties-panel__vehicle-property-value {
  font-size: 0.875rem;
  margin-left: 0.5rem;
}

.m-vehicle-properties-panel__divider {
  border: none;
  border-top: solid 2px $lighter-grey;
}

.m-vehicle-properties-panel__link {
  color: $light-blue;
  text-decoration: none;
}

.m-vehicle-properties-panel__close {
  background-color: $white;
  border-radius: 4px;
  display: block;
  margin: 2rem auto 0;
  padding: 0.5rem 3rem;
}

.m-vehicle-properties-panel__modal-overlay {
  background-color: transparentize($dark, 0.8);
  height: 100%;
  left: inherit;
  position: fixed;
  top: inherit;
  width: 100%;
  z-index: 1000;
}
