.m-vehicle-map {
  height: 30rem;
  margin-top: 1rem;
}

.m-vehicle-map__label {
  @include font-emph;

  svg {
    overflow: visible;
  }
}

.m-vehicle-map__icon {
  path {
    fill: $color-primary;
  }

  svg {
    overflow: visible;
  }
}
