.c-view-header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  min-height: $view-header-height;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $white;

  .c-old-close-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
  }

  .c-close-button {
    position: absolute;
    top: 0;
    right: 0.1875rem;
  }
}

.c-view-header__title {
  font-size: 0.875rem;
  font-weight: 500;
  color: $color-gray-800;
}

.c-view-header__backlink {
  @include button-icon(0.875rem);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.75rem;

  font-size: 0.75rem;
  font-weight: 400;
  color: $color-eggplant-600;

  span {
    padding-right: 0.125rem;

    svg {
      stroke: $color-eggplant-600;
      fill: none;
    }
  }
}
