$z-page-layout-context: (
  "properties-panel-backdrop": 1000,
  "properties-panel": 1002,
  "view": 1100,
  "navbar": 1200,
  "user-info-popover": 1201,
  "modal-backdrop": 2100,
  "modal": 2101,
);

$z-properties-panel-context: (
  "map": 9,
  "header": 10,
  "fullscreen-map": 11,
);
