@import "colors";

@import "inter_ui";

@import "close_button";
@import "route_ladder";
@import "route_ladders";
@import "route_picker";
@import "route_filter";
@import "vehicle_properties_panel";

body {
  background-color: $pale-grey;
  font-family: $font-family;
  font-size: 16px;
  margin: 0;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  padding: 0;
}

ol,
ul {
  list-style-type: none;
  padding: 0;
}

.m-app {
  display: flex;
}
