$tab-bar-width: 3rem;
$picker-width-narrow: 9.5rem;
$picker-width-wide: $picker-width-narrow + 2.6;

@import "base";
@import "inter_ui";
@import "ui_kit";
@import "leaflet";

@import "close_button";
@import "incoming_box";
@import "ladder";
@import "ladder_page";
@import "layover_box";
@import "page";
@import "picker_container";
@import "properties_panel";
@import "properties_panel/close_button";
@import "properties_panel/ghost_properties_panel";
@import "properties_panel/header";
@import "properties_panel/headway_diagram";
@import "properties_panel/properties_list";
@import "properties_panel/vehicle_properties_panel";
@import "recent_searches";
@import "route_ladder";
@import "route_ladders";
@import "route_picker";
@import "route_filter";
@import "search_form";
@import "search_page";
@import "search_results";
@import "shuttle_map";
@import "tab_bar";
@import "vehicle_icon";
@import "vehicle_map";

body {
  background-color: $color-bg-base;
  color: $color-font-dark;
  font-family: $font-family;
  font-size: 16px;
}

.m-app {
  display: flex;
}
