@import "colors";

@import "inter_ui";

@import "route_ladder";
@import "route_ladders";
@import "route_picker";
@import "route_filter";

body {
  background-color: $pale-grey;
  font-family: $font-family;
  font-size: 16px;
  margin: 0;
}

button {
  cursor: pointer;
}

ol,
ul {
  list-style-type: none;
  padding: 0;
}

.m-app {
  display: flex;
}
