$old-breakpoints: (
  "mobile-max-width": 767px,
  "mobile-portrait-max-width": 480px,
);
$tab-bar-width: 3rem;
$drawer-tab-width: 2rem;
$route-picker-width: 21.875rem;
$mobile-route-picker-width: 18.125rem;
$shuttle-picker-width: 12.6rem;
$view-header-height: 2.5rem;
$vpp-location-padding: 1rem;
$z-page-layout-context: (
  "properties-panel-backdrop": 1000,
  "properties-panel": 1002,
  "view": 1100,
  "navbar": 1200,
);

$z-properties-panel-context: (
  "map": 9,
  "header": 10,
  "fullscreen-map": 11,
);

@import "ui_kit";

// #region External Libraries
// Import External Libraries first so that css selectors specified after these
// imports are more specific and do not require extra work to override styles
// imported externally

@import "./bootstrap.scss";

// #region Leaflet
@import "../node_modules/leaflet/dist/leaflet.css";
// #endregion
// #endregion

@import "base";
@import "inter";
@import "leaflet";
@import "skate_ui";

@import "circle_x_icon";
@import "card";
@import "close_button";
@import "crowding";
@import "cutout_overlay";
@import "data_status_banner";
@import "detours/detour_map";
@import "directions_button";
@import "disconnected_modal";
@import "diversion_page";
@import "drawer_tab";
@import "dropdown";
@import "filter_accordion";
@import "garage_filter";
@import "icon_alert_circle";
@import "inactive_notification_modal";
@import "incoming_box";
@import "input_modal";
@import "ladder_page";
@import "grouped_autocomplete";
@import "ladder";
@import "late_view";
@import "loading_modal";
@import "loading_spinner";
@import "location_card";
@import "map_page";
@import "map/tooltip";
@import "map/controls/layers_control";
@import "map/controls/recenter_control";
@import "map/controls/street_view_switch";
@import "map/controls/user_location_control";
@import "map/markers/location_dot_icon";
@import "map/markers/stop_icon";
@import "map/markers/user_location_marker";
@import "minischedule";
@import "modal";
@import "nav";
@import "nav/bottom_nav_mobile";
@import "nav/left_nav";
@import "nav/nav_menu";
@import "nav/top_nav_mobile";
@import "nav/top_nav";
@import "notification_bell_icon";
@import "notification_drawer";
@import "notifications";
@import "old_close_button";
@import "old_search_form";
@import "page";
@import "picker_container";
@import "presets";
@import "properties_list";
@import "properties_panel";
@import "properties_panel/block_waiver_banner";
@import "properties_panel/ghost_properties_panel";
@import "properties_panel/header";
@import "properties_panel/stale_data_properties_panel";
@import "properties_panel/tab_panels";
@import "properties_panel/vehicle_properties_panel";
@import "recent_searches";
@import "route_filter";
@import "route_ladder";
@import "route_ladders";
@import "route_picker";
@import "route_pill";
@import "route_properties_card";
@import "schedule_adherence";
@import "search_form";
@import "search_page";
@import "search_results";
@import "settings_page";
@import "shuttle_map";
@import "shuttle_picker_container";
@import "shuttle_picker";
@import "stop_card";
@import "street_view_button";
@import "swings_view";
@import "utility_hideable";
@import "vehicle_icon";
@import "vehicle_map";
@import "vehicle_properties_card";
@import "vehicle_route_summary";
@import "view_header";

@import "u_no_overscroll";

// #region Effects
@import "demo_mode";
// #endregion

[hidden] {
  display: none !important;
}

.border-box {
  box-sizing: border-box;
}

.inherit-box :where(*, *::before, *::after) {
  box-sizing: inherit;
}

html,
body,
main,
#app,
.l-app {
  height: 100%;
  width: 100%;
}

body {
  background-color: $color-bg-base;
  color: $color-font-dark;
  font-family: $font-family;
  font-size: 16px;
}

.l-app {
  display: flex;
  flex-direction: column;
}

.l-app__banner {
  width: 100%;
  flex: 0 0 0;
}

.l-app__main {
  position: relative;
  flex: 1 1 0;
  min-height: 0;
}
