.m-faq {
  max-width: 50%;
  padding: 2rem;
}

.m-faq--early {
  color: $color-vehicle-early;
  font-weight: bold;
}

.m-faq--on-time {
  color: $color-vehicle-ontime;
  font-weight: bold;
}

.m-faq--late {
  color: $color-vehicle-late;
  font-weight: bold;
}
