<h1>Test Groups</h1>
<ul>
  <%= for test_group <- @test_groups do %>
    <li><.link href={~p"/test_groups/#{test_group.id}"}><%= test_group.name %></.link></li>
  <% end %>
</ul>

<.form :let={f} for={@changeset} action={~p"/test_groups/create"}>
  <div>
    <%= label do %>
      Name: <%= text_input(f, :name) %>
    <% end %>
    <%= submit("Create") %>
  </div>
  <div>
    <%= error_tag(f, :name) %>
  </div>
</.form>
