<div id="app"
  data-user-token="<%= @user_token %>"
  data-csrf-token="<%= @csrf_token %>"
  data-settings="<%= Jason.encode!(@settings) %>"
  data-laboratory-features="<%= Jason.encode!(@laboratory_features) %>"
></div>
