<div id="app"
  data-user-token="<%= @user_token %>"
  data-csrf-token="<%= @csrf_token %>"
  data-user-settings="<%= Jason.encode!(@user_settings) %>"
  data-route-tabs="<%= Jason.encode!(@route_tabs) %>"
  data-laboratory-features="<%= Jason.encode!(@laboratory_features) %>"
  data-dispatcher-flag="<%= Jason.encode!(@dispatcher_flag) %>"
></div>
