.c-block-waiver-banner .c-card__title {
  @include button-icon(0.5rem);

  justify-content: space-between;

  .c-block-waiver-banner__title {
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-semi);
    margin: 0;
  }
  span {
    display: inline-flex;
    margin-right: 0.25rem;
    margin-left: 0.1875rem;
  }
}

.c-block-waiver-banner .c-card__title span svg {
  stroke: none;
  width: 11px;
  height: 11px;
}

.c-block-waiver-banner__badge {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-semi);

  &--current,
  &--future {
    background-color: $color-kiwi-200;

    .c-icon-alert-circle__outline {
      fill: none;
    }
  }

  &--past {
    background-color: $color-gray-200;
  }

  &--unknown {
    background-color: $color-lemon-300;
  }
}

.c-block-waiver-banner .c-properties-list__property-label {
  color: $color-gray-800;
}

.c-block-waiver-banner .c-properties-list__property-value {
  color: $color-gray-600;
}
