.m-block-waiver-banner {
  background-color: $color-secondary-light;
  border: 1px solid;
  padding: 1rem 1rem 1rem 2rem;

  &--current {
    background-color: $color-secondary-light;
    border-color: $color-secondary-dark;
  }

  &--past,
  &--future {
    background-color: $color-bg-medium;
    border-color: $color-component-medium;
  }
}

.m-block-waiver-banner__header {
  display: flex;
  flex-direction: row;
  margin-left: -1.2rem;
}

.m-block-waiver-banner__alert-icon {
  display: block;
  fill: $black;
  margin-right: 0.3rem;
  width: 15px;
}

.m-block-waiver-banner__title {
  @include font-body;
  margin-bottom: 0.8rem;
}

.m-block-waiver-banner__details {
  border-spacing: 0;

  td {
    padding-bottom: 0.3rem;
  }
}

.m-block-waiver-banner__detail-label {
  @include font-label;
  margin-bottom: 0.5rem;
  text-align: left;
  width: 7rem;
}

.m-block-waiver-banner__detail-value {
  @include font-body;
  margin-bottom: 1rem;
}

.m-block-waiver-banner__detail-label--start-time,
.m-block-waiver-banner__detail-value--start-time {
  .m-block-waiver-banner--future & {
    color: $color-font-dark;
    font-weight: 700;
  }
}

.m-block-waiver-banner__detail-label--end-time,
.m-block-waiver-banner__detail-value--end-time {
  .m-block-waiver-banner--current & {
    color: $color-font-dark;
    font-weight: 700;
  }
}
