.m-block-waiver-banner .m-card__title {
  font-size: var(--font-size-m);
  justify-content: space-between;
  span {
    margin-right: 0.25rem;
  }
}

.m-block-waiver-banner .m-card__title span svg {
  stroke: none;
  width: 11px;
  height: 11px;
}

.m-block-waiver-banner__badge {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-semi);

  &--current,
  &--future {
    background-color: $color-kiwi-200;

    .c-icon-alert-circle__outline {
      fill: none;
    }
  }

  &--past {
    background-color: $color-gray-200;
  }

  &--unknown {
    background-color: $color-lemon-300;
  }
}

.m-block-waiver-banner .m-properties-list__property-label {
  color: $color-gray-800;
}

.m-block-waiver-banner .m-properties-list__property-value {
  color: $color-gray-600;
}
