.m-block-waiver-banner {
  background-color: $color-secondary-light;
  border: 1px solid;
  padding: 1rem 1rem 1rem 2rem;

  &--current {
    background-color: $color-secondary-light;
    border-color: $color-secondary-dark;
  }

  &--past,
  &--future {
    background-color: $color-bg-medium;
    border-color: $color-component-medium;
  }
}

.m-block-waiver-banner__header {
  display: flex;
  flex-direction: row;
  margin-left: -1.2rem;
}

.m-block-waiver-banner__alert-icon {
  display: block;
  margin-right: 0.3rem;
  width: 15px;
}

.m-block-waiver-banner__title {
  @include font-body;
  margin-bottom: 0.8rem;
}

.m-block-waiver-banner__details {
  border-spacing: 0;

  td {
    padding-bottom: 0.3rem;
  }
}

.m-block-waiver-banner__detail-label,
.m-block-waiver-banner__detail-value {
  .m-block-waiver-banner--past & {
    color: $color-font-grey;
  }
}

.m-block-waiver-banner__detail-label {
  @include font-label;
  margin-bottom: 0.5rem;
  text-align: left;
  width: 7rem;
}

.m-block-waiver-banner__detail-value {
  @include font-body;
  margin-bottom: 1rem;
}

.m-block-waiver-banner__detail-label--start-time,
.m-block-waiver-banner__detail-value--start-time {
  .m-block-waiver-banner--future & {
    color: $color-font-dark;
    font-weight: 700;
  }
}

.m-block-waiver-banner__detail-label--end-time,
.m-block-waiver-banner__detail-value--end-time {
  .m-block-waiver-banner--current &,
  .m-block-waiver-banner--past & {
    font-weight: 700;
  }

  .m-block-waiver-banner--current & {
    color: $color-font-dark;
  }
}

.m-block-waiver-banner__reason {
  @include font-label;
  color: $color-font-link;
  cursor: pointer;

  &:focus,
  &:hover {
    color: $color-primary;
  }

  .m-block-waiver-banner--future &,
  .m-block-waiver-banner--past & {
    color: $color-font-grey;

    &:focus,
    &:hover {
      color: $color-primary;
    }
  }
}

.m-block-waiver-banner__reason-icon {
  fill: $color-button-secondary;
  display: inline-block;
  width: 9px;

  .m-block-waiver-banner__reason:focus &,
  .m-block-waiver-banner__reason:hover & {
    fill: $color-primary;
  }

  .m-block-waiver-banner--future &,
  .m-block-waiver-banner--past & {
    fill: $color-font-grey;
  }
}

.m-block-waiver-banner__reason-tooltip.__react_component_tooltip.show {
  opacity: 1;
}
