.m-ghost-properties-panel {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  .m-properties-list {
    flex: 1 0 auto;
  }
}

.m-ghost-properties-panel__notes {
  margin: 0.5rem;
}

.m-ghost-properties-panel__no-waiver-banner {
  @include font-body;
  background-color: transparentize($color-component-highlight, 0.6);
  border: 1px solid $color-component-highlight;
  border-bottom: 1px solid $color-rule;
  font-weight: 400;
  padding: 1rem 1rem 1rem 2rem;
}

.m-ghost-properties-panel__no-waiver-banner-header {
  display: flex;
  flex-direction: row;
  margin-left: -1.2rem;
}

.m-ghost-properties-panel__no-waiver-banner-alert-icon {
  display: block;
  margin-right: 0.3rem;
  width: 15px;
}

.m-ghost-properties-panel__no-waiver-banner-title {
  font-weight: 500;
  margin-bottom: 0.8rem;
}
