.m-tabs {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
}

.m-tabs__tab-list {
  border-bottom: 1px solid $color-button-simple;
  display: flex;
  margin: 0;
  margin-block-end: 0;
  margin-block-start: 0;
}

.m-tabs__tab {
  @include button-base;
  background-color: $color-button-simple;
  border-left: 1px solid $white;
  border-radius: 0;
  color: $color-font-grey;
  display: inline-block;
  flex: 1 0 auto;
  list-style: none;
  padding: 0.75rem;
  text-transform: uppercase;

  &:first-of-type {
    border-width: 0;
  }

  &--selected {
    background-color: $color-button-light;
    color: $color-font-dark;
  }
}

.m-tabs__tab-status-icon {
  margin-right: 1rem;

  vertical-align: text-top;
}

.m-tabs__tab-status-icon-outer-circle {
  fill: none;
  stroke: $color-component-medium;

  .m-tabs__tab--selected & {
    fill: $color-secondary-medium;
    stroke: $color-secondary-dark;
  }
}

.m-tabs__tab-status-icon-inner-circle {
  fill: none;
  stroke: none;

  .m-tabs__tab--selected & {
    fill: $color-secondary-dark;
  }
}

.m-tabs__tab-panel {
  display: none;

  &--selected {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
  }
}
