.m-vehicle-properties-panel {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.m-vehicle-properties-panel__invalid-banner {
  @include font-body;
  background-color: $color-secondary-light;
  border: 1px solid $color-secondary-dark;
  padding: 1rem;
}

.m-vehicle-properties-panel__invalid-banner-title {
  font-weight: 700;
  text-transform: uppercase;
}

.m-vehicle-properties-panel__location {
  border-top: 1px solid $color-rule;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.m-vehicle-properties-panel__latlng {
  flex: 0 1 4.25rem;
}

.m-vehicle-properties-panel__next-stop {
  flex: 0 0 auto;
}

.m-vehicle-properties-panel__label {
  @include font-label;
  margin-bottom: 0.25rem;
  margin-top: 0.5rem;
}

.m-vehicle-properties-panel__value {
  @include font-body;
  margin-bottom: 0.25rem;
}

.m-vehicle-properties-panel__link {
  @include font-link;
  margin-bottom: 0.25rem;
}

.m-vehicle-properties-panel__not-available {
  color: $color-font-warning;
}

.m-vehicle-properties-panel__map {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  margin-top: 1rem;
  min-height: 320px;
  z-index: 9;
  .m-vehicle-map {
    flex: 1 0 auto;
  }
}

.m-vehicle-properties-panel__data-discrepancies {
  padding: 1rem;
}

.m-vehicle-properties-panel__data-discrepancy-source-id {
  font-style: italic;
  &::after {
    content: ": ";
  }
}
