<script>
  window.sentry = {
    dsn: "<%= Application.get_env(:skate, :sentry_frontend_dsn) %>",
    environment: "<%= Application.get_env(:skate, :sentry_environment) %>",
    release: "<%= Application.get_env(:sentry, :release) %>"
  }
</script>
