<!DOCTYPE html>
<html lang="en">
  <%
    {static_href_module, static_href_fn} = Application.get_env(:skate, :static_href)
    static_href = fn conn, path -> apply(static_href_module, static_href_fn, [conn, path]) end
  %>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, viewport-fit=cover">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <%= if @username do %>
      <meta name="username" content="<%= @username %>">
    <% end %>

    <%= if @user_uuid do %>
      <meta name="user-uuid" content="<%= @user_uuid %>">
    <% end %>

    <%= if @google_tag_manager_id do %>
      <%= render "_google_tag_manager.html", assigns %>
    <% end %>

    <title>Skate</title>

    <link rel="apple-touch-icon" href="<%= static_href.(@conn, "/images/mbta-logo-t-180.png") %>" type="image/png">
    <link rel="icon" href="<%= static_href.(@conn, "/images/mbta-logo-t-favicon.png") %>" sizes="32x32" type="image/png">
    <link rel="icon" href="<%= static_href.(@conn, "/favicon.ico") %>" sizes="16x16" type="image/vnd.microsoft.icon">

    <link rel="stylesheet" href="<%= static_href.(@conn, "/css/app.css") %>"/>


    <%= if record_fullstory?() do %>
      <%= render "_fullstory.html", assigns %>
    <% end %>
    <%= if record_appcues?() do %>
      <%= render "_appcues.html", assigns %>
    <% end %>
    <%= if record_sentry?() do %>
      <%= render "_sentry.html", assigns %>
    <% end %>
  </head>

  <body>
    <%= if @google_tag_manager_id do %>
      <%= render "_google_tag_manager_noscript.html", assigns %>
    <% end %>
    <main role="main" class="container">
      <%= @inner_content %>
    </main>
    <script type="text/javascript" src="<%= static_href.(@conn, "/js/app.js") %>"></script>
    <%= render "_drift.html" %>
  </body>
</html>
