name: Deploy to Dev (ECS)

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  deploy:
    name: Deploy to Dev (ECS)
    concurrency:
      group: dev
    uses: ./.github/workflows/deploy-base.yml
    with:
      env: dev
    secrets: inherit
