name: Deploy to Dev (ECS)

on:
  workflow_dispatch:
  push:
    branches: [master]

jobs:
  deploy:
    name: Deploy to Dev (ECS)
    concurrency:
      group: dev
      cancel-in-progress: true
    uses: ./.github/workflows/deploy-base.yml
    with:
      env: dev
    secrets: inherit
