name: Deploy to Prod (ECS)

on:
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy to Prod (ECS)
    concurrency:
      group: prod
      cancel-in-progress: true
    uses: ./.github/workflows/deploy-base.yml
    with:
      env: prod
    secrets: inherit
